[2017-06-23 13:40] MollieCourtenay opened #1 "Create a Super Admin Role"

[2017-06-23 13:41] MollieCourtenay opened #2 "Admin"
#1  #34  #6  #21 #22  #23  #24 #25 #30 #38

[2017-06-23 13:57] MollieCourtenay opened #3 "Change colour of header (Black)"
+ [x] as a user I see the header is black

[2017-06-23 13:57] MollieCourtenay opened #4 "Replace with this logo with version with a capital S"
+ [x] as a user I see the Headscape logo not the HL one.

[2017-06-23 14:07] MollieCourtenay opened #5 "Replace SLaM logo with Oxleas logo for top of logged out page."
+ [x] as a user on the Oxleas domain, I see the Oxleas logo at the top of the logged out page

[2017-06-23 16:31] MollieCourtenay opened #6 "redirect 'Super Admins' to Admin part of service not Healthlocker"
+ [x] When I log in with an email address assigned to Super Admin, I am taken to Admin service, not normal Healthlocker.

[2017-06-23 16:34] MollieCourtenay opened #7 "Edit content of Goals"

[2017-06-23 16:34] MollieCourtenay opened #8 "Edit content of Coping strategies"
+ [x] add youtube link
+ [x] ensure the links on this page open in a new browser window. @Cleop assigning you as I am not sure how to do this.

[2017-06-23 16:34] MollieCourtenay opened #9 "Edit content of Sleep tracker"
Looks unchanged

[2017-06-23 16:35] MollieCourtenay opened #10 "Edit content of Sleep tips"

[2017-06-23 16:35] MollieCourtenay opened #11 "Edit content of Problem tracker"

[2017-06-23 16:35] MollieCourtenay opened #12 "Edit content of Diary"

[2017-06-23 16:36] MollieCourtenay opened #13 "Edit content of Messaging disclaimer - include chat rules"

[2017-06-23 16:36] MollieCourtenay opened #14 "Edit Get support page content"
possibly they may also want to include info about ADHD service FAQs??

[2017-06-23 16:38] MollieCourtenay opened #15 "Clinician: Input medication notes"
+ [x] As a clinician, I can write what medication a service user is taking, dosage and other info.
+ [x] As a clinician, I can edit what medication a service user is taking, dosage and other info.
+ [x] As a clinician, I can click save.
+ [x] As a clinician, I can read some static FAQs about accessing medication from the ADHD team. (so that I can see what info is supplied to my patients)

<img wid

[2017-06-23 16:40] MollieCourtenay opened #16 "SU: View medication notes"
+ [x] As a service user, I can read medication info.
+ [ ] As a service user, I can see who from my care team was the last to update the note.
+ [x] As a service user, I can see a timestamp for the last time the medication notes were updated.
+ [x] As a service user, I can read some FAQs about accessing medication from the ADHD team.
+ [x] As a service user, I am invited to message my care team ab

[2017-06-23 16:41] MollieCourtenay opened #17 "Clinician: input About me form"
+ [x] As a clinician, I can write into / edit a service users About me form.
+ [x] As a clinician, I can see who from the care team made the last updates and when.
+ [x] As a clinician, I can see when the About me form was last updated by the service user.
+ [x] As a clinician, I can save my edits.
+ [x] use normal Healthlocker dark blue, not this other blue.

<img width="374" alt="screen shot 201

[2017-06-23 16:42] MollieCourtenay opened #18 "Clinician: access About me form"
+ [ ] As a Clinician, I access the About me form XXXXX

[2017-06-23 16:42] MollieCourtenay opened #19 "Clinician: access Medication notes"
+ [x] As a Clinician, I access the Medication notes form Details and Meds menu item.

+ [x]  Change title of Details and Contacts menu to Details and Meds
+ [x]  About Me symbol and text appear linking to About Me page
+ [x]  Medication symbol and text appear linking to Medication page

<img width="364" alt="screen shot 2017-07-05 at 15 20 47" src="https://user-images.githubusercontent.com/2501268

[2017-06-30 16:59] RobStallion commented on #1
Make a super admin role in db and only give them access to the signup route.

[2017-06-30 17:31] RobStallion commented on #2
What permissions would this user need? There is a role admin in healthlocker which allows editing of posts. Would it be the same deal here?

[2017-06-30 18:13] RobStallion opened #20 "Content training"
Would you be interested in some training from @katbow on how to make content changes yourselves, as discussed previously with @MollieCourtenay?

This would enable you to create your own branches where you can update content and submit pull requests for us to review.

This would be time/money saving for this project and would allow you to make these changes as and when you need to, should content c

[2017-07-03 08:59] MollieCourtenay commented on #2
By Admin, I mean the part of the service where the Super Admin manages accounts.

[2017-07-03 09:08] MollieCourtenay opened #21 "Within Admin system: add new user"
_Note: Edited to add issue numbers only_

The roles are:
+ Clinician #57
+ Service user #58
+  Carer #59

+ [x] If I am adding a new clinician, I will have to enter their first name, last name, email address, password, job role.
_______
+ [x] If I am adding a new service user, I will have to enter their first name, last name, DOB, email address, password, then save.
+ [x] I will then be asked to a

[2017-07-03 12:22] MollieCourtenay commented on #20
Yes please!!  @RobStallion @katbow

If we are sticking with running this project 17th - 31st July.
Then,  24th/25th would be good for me :)

[2017-07-04 08:31] MollieCourtenay opened #22 "Within Admin system: edit SUs assigned clinicians"
+ [ ] As a super admin, I can click on a service user, their account info is listed.
+ [ ] I can edit which clinicians they are assigned to, then click save.

[2017-07-04 08:50] MollieCourtenay opened #23 "Within Admin system: logged in landing page"
+ [x] As a super admin, when I log in, I see 3 buttons at the top of the screen.
+ [x] '1. Add staff'
+ [x] '2. Add service user'
+ [x] '3. Add carer'

+ [x] under those buttons, I see a dividing line

+ [x] under the dividing line, I see a list of all the service user accounts, with linked carer accounts below (like HL clinician caseload layout)
+ [x] under the list of SU and carer accounts, I se

[2017-07-04 08:54] MollieCourtenay opened #24 "Within Admin system: edit a SUs clinician connections"
+ [x] As a super admin, from the landing page, I can click on an individual service user to edit the clinician connections of that individual service user.

+ [x] If I click to edit, the service users account details are displayed. I can select or deselect clinicians, then click save.  I cannot edit other account details.

<img width="821" alt="edit su" src="https://user-images.githubusercontent.c

[2017-07-04 08:55] MollieCourtenay commented on #22
wrote this one twice, so closing it.

[2017-07-04 08:55] #22 closed

[2017-07-04 09:48] MollieCourtenay opened #25 "Within Admin: add new super admin user"
+ [ ] If I am adding a super admin, I will have to enter their first name, last name, email address, password.

[2017-07-04 09:58] MollieCourtenay opened #26 "Edit content: Terms of service"

[2017-07-04 09:58] MollieCourtenay opened #27 "Edit content: privacy statement"

[2017-07-04 09:58] MollieCourtenay opened #28 "Edit content: About page"
+ [x] "send a message" isn't linked.

[2017-07-04 10:07] MollieCourtenay commented on #23
[Admin wireframes.pdf](https://github.com/healthlocker/oxleas-adhd/files/1121684/Admin.wireframes.pdf)

[2017-07-04 10:10] MollieCourtenay commented on #21
![admin wireframes_add users](https://user-images.githubusercontent.com/25012688/27825972-4e74c4e4-60a9-11e7-9a03-fc8a97b2daa1.png)

[2017-07-04 10:22] MollieCourtenay commented on #20
@katbow actually - when are you away?

[2017-07-04 10:23] MollieCourtenay opened #29 "Service user: access About me form"

[2017-07-04 10:24] MollieCourtenay opened #30 "Service user: input About me form"
+ [x] As a SU, I can write into / edit a my About me form.
+ [x] As a SU, I can see who from my care team made the last updates and when.
+ [x] As a SU, I can see when I last updated my About me form.
+ [x] As a SU, I can save my edits.
+ [x] use normal Healthlocker dark blue, not this other blue.

<img width="356" alt="screen shot 2017-07-11 at 10 47 57" src="https://user-images.githubusercontent

[2017-07-04 10:24] MollieCourtenay opened #31 "Service user: access About me form"

[2017-07-05 11:30] katbow commented on #20
10th-25th Jul, then in Portugal from 27th. So if in person would work best for you, then I guess that would only leave the 26th 😕 . Alternatively, I can put together a guide and we can work through it remotely together.

[2017-07-05 11:45] MollieCourtenay commented on #20
Hey @katbow
If you are happy to do it on 26th? That would be truly wonderful.
Me and Katy will learn from you.
Just waiting to hear if our place will be busy or empty - being a wednesday.
Can we do it at the beginning of the day, leaving us the rest of the day clear to upload the content? :geek:

[2017-07-05 12:03] MollieCourtenay opened #32 "Edit email address used for reset password"
+ [x] As a user who has forgotten my password, IF I have an account and enter my email address, I will get an email from oxl-tr.focusadhd@nhs.net, with a link to reset my password.

[2017-07-05 12:04] MollieCourtenay opened #33 "Edit email for feedback email"
Send to:
+ [x] Mollie mindwave email
+ [x]  oxl-tr.focusadhd@nhs.net

[2017-07-05 12:05] MollieCourtenay opened #34 "Create Super Admin user"
with this email: oxl-tr.focusadhd@nhs.net

[2017-07-05 12:07] katyedwards commented on #33
Oxleas email: oxl-tr.focusadhd@nhs.net

[2017-07-05 12:07] katyedwards commented on #32
Oxleas email: oxl-tr.focusadhd@nhs.net

[2017-07-05 12:09] MollieCourtenay opened #35 "Rename Goals and tracking to 'Home'"

[2017-07-05 12:10] MollieCourtenay opened #36 "SU: access medication notes - More Padding"
+ [x] as a service user, I can access the Medication notes feature, via a new icon and button at the bottom of the Home page (Renamed from goals and strategies)

![oxleas-mockup](https://user-images.githubusercontent.com/25012688/28014778-d2b8d978-6565-11e7-90a3-b53eeb0c3b8d.jpg)

Mollie - need to supply an icon.

[2017-07-05 12:12] #29 closed

[2017-07-05 14:24] MollieCourtenay opened #37 "Clinician: rename menu item. 'Details and Meds'"
<img width="364" alt="screen shot 2017-07-05 at 15 20 47" src="https://user-images.githubusercontent.com/25012688/27868879-08040964-6196-11e7-860c-5a3bdeea9bfc.png">

[2017-07-05 14:30] MollieCourtenay commented on #17
what happens if this is updated at the same time?

[2017-07-05 14:53] MollieCourtenay opened #38 "Within Admin system: I can delete a clinician account"
+ [ ] As a super admin, I can choose to delete a clinician account.
+ [ ] If I click on the delete button, I am asked to confirm whether I want to delete this user or go back.

<img width="928" alt="screen shot 2017-07-05 at 15 35 53" src="https://user-images.githubusercontent.com/25012688/27869377-ae275cfa-6197-11e7-8727-951786eb414d.png">

[2017-07-05 14:57] MollieCourtenay opened #39 "Clinician: edits to details and contacts section"
+ [ ]  As a clinician, looking at a service users page, I can see a yellow box with:
- date of birth
- email
- phone number

+ [ ] Clinicians cannot see NHS number, of home address.

<img width="364" alt="screen shot 2017-07-05 at 15 20 47" src="https://user-images.githubusercontent.com/25012688/27870327-7e88d1a6-619a-11e7-9b59-c4652ab81aa4.png">

[2017-07-07 09:35] katbow commented on #20
Absolutely, we can do it first thing! Just let me know where is best 🙂

[2017-07-11 08:53] MollieCourtenay commented on #5
@indiamindwave24 please can you supply an Oxleas version of the NHS logo just like the HL SLaM one - please doubl checking we are using the right blue.

NHS
Oxleas
NHS Foundation Trust

[2017-07-11 08:58] MollieCourtenay commented on #4
https://www.dropbox.com/s/13nnju1mkecm8xt/headscape%20logo%202.svg.svg?dl=0
Needs to have 'Headscape Focus' in museo sans rounded font.
<img width="596" alt="screen shot 2017-07-11 at 09 57 54" src="https://user-images.githubusercontent.com/25012688/28060568-72c857c2-661f-11e7-9c84-af5eea1f19a0.png">

[2017-07-11 09:05] MollieCourtenay opened #40 "About me form"
@indiamindwave24 please can you work with Caroline, to ensure all the icons are ready to be handed over to DWYL?
As well as supplying a page mock up.

Here is my rough wireframe:

<img width="363" alt="screen shot 2017-07-05 at 15 21 11" src="https://user-images.githubusercontent.com/25012688/27868957-4c14b22a-6196-11e7-9694-656730d3f92b.png">

[2017-07-11 09:07] MollieCourtenay opened #41 "Medication notes UI"
@indiamindwave24 please can you work with Caroline, to ensure all the icons are ready to be handed over to DWYL?
As well as supplying a page mock up.

Here are my rough wireframes:
NB: clinicians can edit the content.
<img width="285" alt="screen shot 2017-07-11 at 14 48 09" src="https://user-images.githubusercontent.com/25012688/28071485-ff620688-6647-11e7-8686-f68c1e45e316.png">

service users c

[2017-07-11 14:04] MollieCourtenay opened #42 "Ensure the site is labelled 'Powered by Healthlocker'"
+ [ ]  as a user, I can see that this service is powered by [Healthlocker](healthlocker.uk)

[2017-07-11 14:12] MollieCourtenay opened #43 "Remove connect to slam links in Account"

[2017-07-11 14:13] MollieCourtenay opened #44 "When a user is connected to Oxleas - in account"
+ [ ] Account connected to your Oxleas ADHD team

[2017-07-11 14:15] MollieCourtenay opened #45 "remove opportunity to sign up from the Burger"
+ [x] as a user on the Oxleas landing page, I see no sign up link / buttons.

+ [x] not in burger menu
+ [x] remove welcome message #46
+ [x] remove mentions in About #28

[2017-07-11 14:32] MollieCourtenay opened #46 "remove Welcome to healthlocker section on landing page home page"
+ [x] As a user on the landing page of Oxleas site, it is edited.
+ [x] there is no sign up button

[2017-07-11 14:36] MollieCourtenay opened #47 "Edit content for feedback page"
+ [x] to say:

Work in progress!

Please send us your feedback and ideas to improve Headscape Focus.

If you would like us to follow up to discuss, please leave your contact details.

[2017-07-11 14:47] MollieCourtenay opened #48 "redirect from the logo at the top - to goals and tracking page"
+ [ ] as a user, if I click on the headscape logo on any page, I am taken to the goals and tracking page (which in here will renamed home #35)

[2017-07-11 14:50] MollieCourtenay opened #49 "redirect to given URL"
We are going to have a DNS subdomain of the headscapegreenwich.co.uk

So will be focus.headscapegreenwich.co.uk

We need the IP of the instances on the azure server that we can be point the subdomain at

[2017-07-11 14:50] MollieCourtenay opened #50 "Oxleas Deployment: Host in SLaM Azure Cloud"
**As a** product owner
**I want** the application deployed to the SLaM Azure cloud
**So that** I can use and test the application and share it with users and stakeholders.

## dwyl List of Steps:

1. #106. Spike: Host basic phoenix application on azure test environment by following the [documentation](https://github.com/dwyl/learn-phoenix-framework/blob/master/production-deployment.md). (T4h)

2.

[2017-07-11 14:51] MollieCourtenay opened #51 "remove any connection with epjs DB"
Description left blank, so the below is edited by @iteles.

+ Carers: 1 day
  + Alter connecting as carer functionality to not verify data against ePJS but to do so through our database (assuming same data is used)
+ Clinicians: 1 day

NB. Need these to be added or edited at a later date

@RobStallion Please fill in the technical detail below on what needs to be done whilst this is still fresh in

[2017-07-11 14:52] MollieCourtenay opened #52 "create a copy of HL that is de-coupled from SLaM/epjs"
@MollieCourtenay I've left your original comments below and expanded here:

As Oxleas use a system other than ePJS (Rio), we need to decouple the currently Healthlocker application from ePJS database so that Healthlocker can work for the Oxleas team without being dependent on a system they don't use.

This consists of:
+ Removing the links to connect to SLaM from the account page (note, this will

[2017-07-11 15:02] MollieCourtenay opened #53 "Edit feedback banner"
+ [x] **Work in progress** - share feedback and suggestions

[2017-07-13 17:10] katyedwards commented on #49
Chased James today and he chased his team!

[2017-07-17 07:50] iteles commented on #52
These are the points I had previously written for this:
+ Removing the links to connect to SLaM from the account page (note, this would leave us with a fair amount of redundant code)
+ Alter connecting as carer functionality to not verify data against ePJS but to do so through our database (assuming same data is used)
+ Care team contacts for all users will no longer come from ePJS but our own dat

[2017-07-17 08:29] iteles commented on #43
+ Block endpoints
+ Alter tests
+ Remove

[2017-07-17 08:41] reddog commented on #43
@katyedwards Are these the links to go:

1. Connect with my care team and health record
2. Connect with the care team of someone I care for

[2017-07-17 08:41] reddog commented on #43
![image](https://user-images.githubusercontent.com/151362/28260673-11fa1a7a-6ad4-11e7-8361-1d8d3d3efcfb.png)

[2017-07-17 08:53] katyedwards opened #54 "Edit Account Page Content"
![screenshot 2017-07-17 09 46 11](https://user-images.githubusercontent.com/24604903/28260853-cd81531c-6ad4-11e7-8999-c8a18b5ed435.png)

Links will be removed: #43

Plus content change to:

If you are service user or family/friend or carer of someone with the ADHD team at the Oxleas NHS Foundation Trust and you would like to connect to your care team, please speak with one of your clinicians.

[2017-07-17 08:53] katyedwards commented on #43
Yep, exactly.  Just those two.

And change the text above see issue #54

[2017-07-17 08:56] reddog commented on #52
re:

#45 addresses removing service user self-initiated signup.

[2017-07-17 09:00] katyedwards commented on #54
Covered in #43

[2017-07-17 09:00] #54 closed

[2017-07-17 09:14] reddog commented on #46
Remove central "Welcome to Heathlocker" section:

![image](https://user-images.githubusercontent.com/151362/28261815-b550529e-6ad8-11e7-8512-fd585b12a511.png)

[2017-07-17 10:03] iteles commented on #24
Editing details of clinicians and carers as well as carer connections to SUs are not included in the backlog at this stage, approved by @katyedwards at our sprint planning session.

[2017-07-17 10:29] iteles commented on #15
1 day:
  + Create model for schema
  + Create database schema (similar to diary)
  + Create form
  + Create routes for form
  + Making sure data is available in form when we go back in
  + FAQs (static data)
  + Showing timestamp

Multiple clinician functionality:
+ Add in functionality to save user who edits medication and display in this view: 2 hours (lower priority) - new issue to be created t

[2017-07-17 10:45] iteles commented on #30
Building on #17, this will require an additional 1 hour

[2017-07-17 11:55] RobStallion commented on #50
Currently reading through technical requirements needed to deploy to SLaM's Azure Infrastructure [here](https://github.com/healthlocker/healthlocker/issues/841)

[2017-07-17 12:54] RobStallion commented on #50
From what I have read it appears as though SLaM will need to provision the VM machine/machines to allow us to host in SLaM's Azure Infrastructure. @nelsonic am I understanding this correctly or did SLaM have to set it up previously to allow connection to the ePJS database?

Regarding the actual deployment to Azure, there is extensive documentation which can be found [here](https://github.com/dwyl/

[2017-07-17 12:56] nelsonic commented on #50
@RobStallion correct. (_SLaM have to provision new VMs_)

[2017-07-17 20:11] iteles opened #55 "Block 'Connect to SLaM' endpoints"
As an Oxleas PO, I don't want the 'Connect to SLaM' endpoints to be available to service users so that they cannot mistakenly end up here and be confused by the service and to remove vulnerabilities from the system.

## Acceptance Criteria
+ [ ] When any user visits the 'Connect to SLaM' endpoints, they see a 404 page rather than the option to connect to SLaM.

Note: Priority lowered from #43 give

[2017-07-17 20:26] iteles opened #56 "Care team details no longer come from ePJS"
Currently the care team details are checked through ePJS. Losing the connection to ePJS #52  means that we need to ensure this data is now coming from the application's tables rather than ePJS data.

## Acceptance Criteria
+ [ ] Care team details are still available under the 'Care Team' menu item to Carers and SUs
+ [ ] Care team details are still visible under the 'Details' section in the Clinic

[2017-07-17 20:33] iteles commented on #17
2 hours of this is for the 'Most recent update' section which can be deprioritised if required as agreed in our sprint planning session.

[2017-07-17 20:37] iteles commented on #39
This will consist of the removal of the NHS number and home address from this section.

[2017-07-17 20:44] iteles opened #57 "Within Admin system: add new Staff member"
As there is no ePJS system to check user details against, these will be manually entered by the Oxleas team in an Admin area #2.

As an Oxleas team member I want to be able to add a new staff member (clinician) to the system so that I can connect them to a SU.

## Acceptance Criteria
(taken from #21)
+ [x] If I am adding a new clinician, I will have to enter their first name, last name, email addr

[2017-07-17 20:44] iteles opened #58 "Within Admin system: add new Service User"
As there is no ePJS system to check user details against, these will be manually entered by the Oxleas team in an Admin area #2.

As an Oxleas team member I want to be able to add a new service user to the system so that I can ensure those who we work with have access to the application for their wellbeing.

## Acceptance Criteria
(taken from #21)

+ [x] If I am adding a new service user, I will h

[2017-07-17 20:46] iteles opened #59 "Within Admin system: add new Carer - Flash Message"
As there is no ePJS system to check user details against, these will be manually entered by the Oxleas team in an Admin area #2.

As an Oxleas team member I want to be able to add a carer to the system so that I can ensure they are able to partake in the care of the young person for whom they are a carer.

## Acceptance Criteria
(taken from #21)

+ [x] If I am adding a new carer, I will have to en

[2017-07-17 20:51] iteles commented on #21
Password creation by super admins was discussed at length.
Although dwyl advises against this due to the security vulnerabilities that it creates, it was determined by our PO @katyedwards that given that Oxleas will be hand-holding users through their first exposure to the app, this would be the fastest way (given budget constraints) to resolve the issue in the short term.

[2017-07-17 20:52] iteles opened #60 "Allowing users to edit their password upon first logging in"
As an Oxleas team member, I want to prompt users to edit their password when they first log in to mitigate the security issue of super admins creating passwords: https://github.com/healthlocker/oxleas-adhd/issues/21#issuecomment-315880016

Part of our documentation will need to clearly state that we advise super admins to create randomly generated strong passwords rather than a generic password fo

[2017-07-18 07:37] RobStallion commented on #17
one possible solution for this could be to do something along the lines of the following...

[code]

[2017-07-18 07:52] iteles commented on #17
@RobStallion How much time would this add to the time estimates?

[2017-07-18 08:06] RobStallion commented on #17
If it was to be done the way I have mentioned above then I think that would only take an additional 30/60 minutes (including test) as it will not really change the current flow we have in mind, it will just be a check to see if the user is able to save the data or not.

[2017-07-18 20:00] RobStallion opened #62 "Create new table for Clinicians connected to SU"
As we will no longer be able to see which clinicians are part of a SU's care team (data was taken from ePJS table) we need to create our own version of this.

relates to #51

[2017-07-18 20:08] RobStallion opened #63 "update users table to have a row for DOB"
As we are no longer going to be using the ePJS database we cannot check a SU's DOB. This will now be entered when SA enters SUs and will update the `users` table.

Relates to #51

[2017-07-18 21:05] RobStallion opened #64 "update slam/care_team for"
update `slam/care_team`'s `for` function so that it queries the `clinicians` table in postgres for clinicians associated to a SU rather than `ePJS`.

Relates to #51

[2017-07-19 13:25] RobStallion commented on #43
links to #51. Removes call to epjs from account controller

[2017-07-25 16:26] iteles commented on #15
Removed from Sprint 1 milestone as discussed with @dbower and @katyedwards on 18th July due to a miscounting up of days in the milestone:

[2017-07-25 16:45] iteles commented on #2
All issues here apart from https://github.com/healthlocker/oxleas-adhd/issues/25 and https://github.com/healthlocker/oxleas-adhd/issues/38 included in sprint 1

[2017-07-26 09:05] MollieCourtenay opened #67 "edit: welcome to Healthlocker flash message"
+ [x] Welcome to Headscape Focus

[2017-07-26 10:30] iteles opened #68 "Protect master branch"
In order to ensure we cannot accidentally push to master, we should protect the master branch to disable direct pushing to it.

Linked to #20 and #66

https://help.github.com/articles/about-protected-branches/

[2017-07-26 10:38] nelsonic commented on #68
https://github.com/healthlocker/oxleas-adhd/settings/branches/master
![image](https://user-images.githubusercontent.com/194400/28617088-e4efbb00-71f6-11e7-877d-0cd87a24acbe.png)

[2017-07-26 11:02] iteles commented on #68
Done. FYI @katbow @RobStallion

[2017-07-26 11:03] #68 closed

[2017-07-27 09:13] katbow commented on #20
We confirmed that we will be able to add the `web/templates` folder to the repo.

Also, I completed most of those other sections/notes during the plane journey yesterday. I'm going to finish up the last bits this morning and push it up for you 🙂

[2017-07-27 09:14] katyedwards commented on #20
Lovely thanks!  Do you reckon the templates will be added today for us to start work? @katbow

[2017-07-27 09:26] katbow commented on #20
Yup, it should be.

Also just thought it would be good to add the things I'm working on now to this issue.
For HTML basics:
- [ ] Headers from H1 - H4
- [ ] Phoenix links, including examples for internal, external, mailto: and tel: links
- [ ] Lists
- [ ] Basic styling
    - [ ] strong and i
    - [ ] classes (b, i, tc)
- [ ] Images
- [ ] Special characters (eg. &amp)

Adding to/clarifying instruc

[2017-07-27 14:57] katyedwards commented on #20
Hi @RobStallion @katbow any news on when the templates folder will be ready for us to start updating the content?

[2017-07-27 15:00] katyedwards opened #70 "ssh public key for SLaM"
Stuart has asked for your ssh public key so he can provision environments for Oxleas.

Can you let me know

1.  Is it the same as he was given for Oxleas?
2. If not - what is it?!

Thanks

*Given P1 label as it should be a real quick thing and I don't want to risk holding SLaM up on their side of things

[2017-07-28 09:04] katbow commented on #20
yep, it's merged in now so it's all ready now!

[2017-07-29 14:13] nelsonic commented on #70
@katyedwards public keys for the developers do not change.
(_unless there was a specific reason to , in which case we would inform Stuart **immediately**, see: https://security.stackexchange.com/a/15011/117318_)

I have emailed my public key to Stuart _twice_. ✉️  ✅
![image](https://user-images.githubusercontent.com/194400/28745290-783bd8a8-746d-11e7-8c87-df3d06a22a23.png)

The public keys for all

[2017-08-01 08:46] katbow commented on #52
See [here](https://github.com/healthlocker/healthlocker/issues/954) for work being done on Healthlocker to achieve this.

[2017-08-01 09:01] RobStallion commented on #34
closed in favour of #1

[2017-08-01 09:01] #34 closed

[2017-08-01 09:02] RobStallion commented on #1
with this email: oxl-tr.focusadhd@nhs.net

[2017-08-01 10:11] RobStallion commented on #51
this issue is being closed in favour of [this](https://github.com/healthlocker/healthlocker/issues/941) and [this](https://github.com/healthlocker/healthlocker/issues/954) as the approach that was originally being taken has changed.

[2017-08-01 10:11] #51 closed

[2017-08-01 11:44] MollieCourtenay commented on #15
##content

##My medication

**What medication do I take for my ADHD?**
Who prescribes this?

**How much/ what dose?

How often and when?

Other medication that I take?**
Who prescribes this?

**My allergies:**

**What medication have I taken in the past for my ADHD?**
Why did this change?

**Most recent update:**

[ clinician name, role ] [ DD/MM/YY ] [ 18:47 ]

##Medication FAQs (centered)

**Who

[2017-08-01 13:44] MollieCourtenay commented on #36
@indiamindwave24 please supply the icon for medication notes

[2017-08-01 13:45] MollieCourtenay commented on #31
@indiamindwave24 please supply the About me icon

[2017-08-01 13:46] MollieCourtenay commented on #40
@indiamindwave24 please supply all the mini About me icons

[2017-08-01 13:47] MollieCourtenay commented on #41
@indiamindwave24 please supply the mini medication icons

[2017-08-01 13:48] MollieCourtenay commented on #19
icon should be in here: #36

[2017-08-01 13:48] MollieCourtenay commented on #18
icon should be here : #31

[2017-08-01 13:50] #42 closed

[2017-08-01 14:01] #20 closed

[2017-08-01 14:04] MollieCourtenay commented on #70
email from STUART:  1st Aug.
Thanks for the confirmation that the developer will be Nelson and his key is the one to use. As agree the Oxleas will be with you by end of play on the 14th of August.

 @nelsonic & @iteles as you guys are away - do you need more than just Nelson's key associated to this Oxleas environment. (apologies for my ignorance here)

[2017-08-01 14:07] MollieCourtenay commented on #37
Is this something I can do through editing a template?

[2017-08-01 14:23] indiamindwave24 commented on #5
[Oxleas_logo.zip](https://github.com/healthlocker/oxleas-adhd/files/1190823/Oxleas_logo.zip)

[2017-08-01 14:54] iteles commented on #70
@MollieCourtenay Yes, we'll need all 3 developer keys please!

[2017-08-01 15:00] iteles commented on #50
https://github.com/healthlocker/oxleas-adhd/issues/70#issuecomment-319379508
<img width="620" alt="screen shot 2017-08-01 at 15 59 04" src="https://user-images.githubusercontent.com/4185328/28831737-63a4869e-76d2-11e7-9c61-8eeeac6a27da.png">

@MollieCourtenay Thanks for this info! Could you please ask SLaM to confirm that they are able to provision both a development/test environment and a staging

[2017-08-01 15:09] MollieCourtenay commented on #50
STUART needs to know:
Had no detail over backup if required, recovery time if required. The server will be provisioned the same as SLaM. Still no detail as to how the server is configured from DWYL. Where is the postgress DB? Is it in the Docker cluster? This needs documenting and handing over.

There has been no clarity as to how the server configuration has been finally setup. There is a high-le

[2017-08-01 15:45] harrygfox opened #85 "File paths for new views"
## Super Admin Logs in:

- [x] `oxleas_adhd/web/templates/users/index.html.eex`

 (see caseload/index.html.eex)

## Super admin creates new users
- [x] `oxleas_adhd/web/templates/users/new_staff.html.eex`
- [x] `oxleas_adhd/web/templates/users/new_service_user.html.eex`
- [x] `oxleas_adhd/web/templates/users/new_carer.html.eex`

- [x] `oxleas_adhd/web/templates/clinician/new.html.eex` - displayed

[2017-08-01 18:47] RobStallion commented on #1
user has to be added to the database manually. Added it to my local postgres db to test everything works as expected

[2017-08-02 10:36] RobStallion commented on #52
Closing this as the approach to how the application has been created is no longer reflected in this issue.

All the epjs functionality has been moved into it's own application, separate to HL, which can be found [here](https://github.com/healthlocker/epjs_app)

Healthlocker is in the process of replacing database calls it made to epjs with API calls to epjs_app. The current progress can be found [

[2017-08-02 11:29] #52 closed

[2017-08-02 16:08] reddog commented on #50
As discussed elsewhere, this is blocked by https://github.com/healthlocker/healthlocker/issues/340

Please do let us know if you need any further guidance/clarity on what documentation is expected at this stage.  Also please let us know who would be able to provide the documentation and when that would be possible.

[2017-08-02 17:19] katbow opened #88 "Plug.MIME.type/1 is deprecated error"
This error come up for each route/test that is run.

[2017-08-02 18:54] katbow commented on #16
For this one:

Since it coincides with adding the timestamps for #15, and this was marked as lower priority in this comment:
https://github.com/healthlocker/oxleas-adhd/issues/15#issuecomment-315719225, should this also be moved to a new issue as lower priority? @MollieCourtenay

[2017-08-03 08:02] katbow commented on #15
The feature building for this is done (awaiting review). However, the route is currently 'open' and can be accessed by anyone with the url. The next step is to make this accessible to only the staff for that user. This will be done after the clinician connection/relationship table is completed.

[2017-08-03 08:48] RobStallion commented on #62
links to #58

[2017-08-03 09:13] katbow commented on #58
When connecting clinicians, there's no need for the rest of the form to be editable (name, email, etc). This fits with how staff and carers are added. The details for the service user can still be visible on this page so the super admin knows who they are adding/editing clinicians for. However, the best option we can see is...

The flow would appear the same:
* The user is created
* The data for t

[2017-08-03 10:48] MollieCourtenay commented on #16
@katbow I guess that makes sense yes.
missed that that had been de prioritised :(

I'll make a note to make new issues for these.

[2017-08-03 10:48] MollieCourtenay commented on #16
Oh from those commits - it does look like you have managed to work on it? @katbow

[2017-08-03 11:01] katbow commented on #16
@MollieCourtenay I have the most recently updated for time. This is a field that's in the database automatically, so I just displayed it. Saying who updated it would be a new field to add & display so that's the part in particular that's not yet been worked on.

Adding the staff name is first on my list after I get other necessary issues completed 👍 .

[2017-08-04 10:14] RobStallion commented on #23
Will be done when connecting umbrella

[2017-08-04 10:17] RobStallion commented on #24
Rest will be done when connecting umbrella

- [ ] As a super admin, from the landing page, I can click on an individual service user to edit the clinician connections of that individual service user.

[2017-08-04 11:35] RobStallion commented on #1
Rest will be done when connecting umbrella.

- [ ] checking to see that the plugs work as expected when coming over from the HL app

[2017-08-04 13:38] RobStallion opened #90 "Umbrella integration"
- [x] Change functionality for connecting & adding clinicians/carer/service users to rooms #99

- [x] Put oxleas in the umbrella apps

- [x] Put all routes in the 'Healthlocker' router #100

- [x] check routes run as expected #100
- [x] Update controllers that need changing #103
    - [x] `CaseloadController`
    - [x] `web/controllers/caseload`
    - [x] 'web/controllers/care_team`
    - [x] `Log

[2017-08-04 13:45] MollieCourtenay commented on #41
icon for the top of the page ![icons-oxleas_medication big-05](https://user-images.githubusercontent.com/25012688/28971327-749ea7c4-7923-11e7-8a70-70156fbce1a1.png)

Icon to go before the medication FAQs. same centered position.
![icons-oxleas_faq medication](https://user-images.githubusercontent.com/25012688/28971329-7664e73a-7923-11e7-908b-16c8b4ced66f.png)

[2017-08-04 13:46] MollieCourtenay commented on #19
icon for the top of the page ![icons-oxleas_medication big-05](https://user-images.githubusercontent.com/25012688/28971327-749ea7c4-7923-11e7-8a70-70156fbce1a1.png)

[2017-08-04 13:47] MollieCourtenay commented on #36
icon for the top of the page ![icons-oxleas_medication big-05](https://user-images.githubusercontent.com/25012688/28971327-749ea7c4-7923-11e7-8a70-70156fbce1a1.png)

[2017-08-04 14:07] MollieCourtenay commented on #4
@katbow did that SGV work ok for the logo?
Have you also added the 'Headscape Focus' title underneath the logo?
They did want this in a specific font - museo sans rounded font

Sorry had hoped India would have been able to get to this before you did to get it ready. but we've not managed it.

See attached - I've just made this; not sure if its the right size and all? if not tell me what you need.

[2017-08-04 14:23] #70 closed

[2017-08-04 16:27] katbow opened #91 "Demo flow"
**Super admin**
* super-admin/users
    * make clinician (have at least 2-3 for demo, only make 1 during demo)
    * make service user & connect to min 1 clinician
    * make carer to connect to previously input service user
* Log in as non-super admin & show pages are not accessible

**Medication**
* New medication for service user `/users/38/medication/new`
* Go to show for service users `/users

[2017-08-04 17:13] MollieCourtenay commented on #58
+ [ ] the first name and last name fields need to be on the same line.

[2017-08-04 17:15] MollieCourtenay commented on #15
+ [ ] Please call this 'Medication notes' so Edit Medication notes /  New Medication notes

[2017-08-07 08:09] MollieCourtenay opened #92 "chat rules formatting"
Chat rules:
+ [ ] need to be visible to all user groups.
+ [ ] Ideally the body copy would be hidden, and the user could click on 'Chat rules' to reveal the chat rules underneath the title.

+ [ ] Chat rules shouldn't be pink. they should be dark grey.

[2017-08-07 08:10] #91 closed

[2017-08-07 10:00] MollieCourtenay opened #93 "Admin: add icons"
@indiamindwave24

Please add the people icons Caroline has created.

[2017-08-07 10:06] MollieCourtenay commented on #67
@katbow / @RobStallion did i notice in the demo that you had done this?

[2017-08-07 10:18] MollieCourtenay opened #94 "SSL certificate"
+ [x] Make sure we have one

Work needed to be done in order to create an SSL Certificate for Oxleas

- [x] Look into the creation of the custom subdomain name. Links to #49. (SLaM is doing this)

- [x] Follow instructions found in [this readme](https://github.com/dwyl/learn-heroku/blob/master/SSL-certificate-step-by-step-setup-instructions.md) for Let's Encrypt free SSL. Going to have to be adapt

[2017-08-07 13:28] MollieCourtenay opened #95 "Set up mix pannel analytics"
+ [ ] push in the code from Mixpanel new project into Oxleas code so we can connect it to mixpanel.

Questions:
can it extract data ie.g. all the tracking if a patient was discharged?

[2017-08-09 08:26] MollieCourtenay commented on #59
Note to ensure the buttons are the right way around. Save and locate.???

[2017-08-09 10:50] MollieCourtenay opened #96 "QA on multiple devices and browsers"

[2017-08-09 12:07] katbow commented on #67
@MollieCourtenay yep, that's been done already 🙂

[2017-08-09 12:08] katbow commented on #85
@harrygfox one other comment here https://github.com/healthlocker/oxleas-adhd/issues/58#issuecomment-320303455

[2017-08-10 17:32] harrygfox commented on #85
@katbow @RobStallion I believe that it's just the `about me` stuff that's left to do - the files exist and are filled with simple text but no elems. I assume the `details` is essentially covered by the other views since these files do not exist yet.

My final step will be to complete those `about me` views once the form elements have been included. Let me know if that's not the case and when I can

[2017-08-14 08:25] katbow opened #99 "Create new lib functions to connect carers/service users"
Need a replica of these Ecto.Multis

https://github.com/healthlocker/healthlocker/blob/master/lib/healthlocker/slam/connect_carer.ex
https://github.com/healthlocker/healthlocker/blob/master/lib/healthlocker/slam/connect_slam.ex

The database updates that are made when connecting a service user/carer differ between HL & Oxleas. Both need to include adding clinicians and carers/service users to a ro

[2017-08-14 08:29] RobStallion commented on #64
closed in favour of #99

[2017-08-14 08:29] #64 closed

[2017-08-14 08:39] RobStallion opened #100 "Create new routes in healthlocker/generic app for the oxleas specific routes"
- [x] Put all routes for `oxleas` specific functionality into the `healthlocker/generic` app under the umbrella.

[2017-08-14 09:05] MollieCourtenay opened #102 "message if there is no care team"
As a service user or carer if there is no care team - I see a message:

## content:
**No staff are associated with your account at this time.**
If you are currently receiving support from the Oxleas ADHD team and would like to use Headscape Focus with your care team email: oxl-tr.focusadhd@nhs.net

See how it was done in Healthlocker here: https://github.com/healthlocker/healthlocker/issues/853

[2017-08-14 11:01] markwilliamfirth commented on #90
@RobStallion to split out controllers issue

[2017-08-14 11:02] markwilliamfirth commented on #56
Part of #90

Removing time estimate

[2017-08-14 11:06] markwilliamfirth commented on #19
Blocked until integration is complete #90

[2017-08-14 11:08] markwilliamfirth commented on #36
Blocked until #90 is complete

[2017-08-14 11:11] indiamindwave24 commented on #31
![about me](https://user-images.githubusercontent.com/25007700/29269503-c05f0c62-80e9-11e7-8fe7-70aad7f4e446.png)

[2017-08-14 11:12] indiamindwave24 commented on #31
![asset 3 4x](https://user-images.githubusercontent.com/25007700/29269526-e38cc09e-80e9-11e7-9854-5ae60ad985cb.png)

[2017-08-14 11:15] RobStallion opened #103 "Update controllers that need changing"
Controllers that currently rely on `ePJS` data to work need to be updated to work with `oxleas`

**anywhere that has `user_guid` needs to be updated**
**check all controllers for `ReadOnlyRepo`**

- [x] `CaseloadController`
  - [x] completely remove `index` function which checks for `"userdata"`
  - [x] update get patients function so that it queries `oxleas db` for relevant info
- [x] `web/contro

[2017-08-14 11:20] markwilliamfirth commented on #33
Blocked by #50

[2017-08-14 11:20] markwilliamfirth commented on #32
Blocked by #50

[2017-08-14 11:26] markwilliamfirth commented on #94
@nelsonic please can you let us know if you have time to tackle this before 24th August? Otherwise we will need to assign this one to @katbow and @RobStallion

Linked to #49

[2017-08-14 11:44] MollieCourtenay commented on #94
@nelsonic I'd appreciate your advice on the fact that Oxleas Healthlocker will be on a subdomain of an existing site http://headscapegreenwich.co.uk/   - whether we should advise them to get one SSL certificate for their whole site / or whether we do need to get an individual one for the  focus.headscapegreenwich.co.uk ??

[2017-08-14 15:24] katbow commented on #99
@RobStallion update for the `care_team` part of this... It already exists as a query in oxleas.

In HL it is
[code]

which matches in Oxleas to:

[code]
& then do a `Repo.all` on the query.

The other one that needs updating which I'm going to do now is `slam/service_user`, which currently in HL looks like:
[code]

[2017-08-16 11:40] katbow commented on #88
fixed

[2017-08-16 11:40] #88 closed

[2017-08-16 11:41] RobStallion commented on #63
fixed

[2017-08-16 11:41] #63 closed

[2017-08-16 11:41] RobStallion commented on #62
fixed

[2017-08-16 11:41] #62 closed

[2017-08-16 11:44] katbow commented on #56
completed in integrating for #90, in particular #103. waiting to be merged in.

[2017-08-16 14:29] RobStallion opened #106 "Spike: Host basic phoenix application on azure test environment"
Have a basic phoenix application that can be found [here](https://github.com/RobStallion/azure_deployment_test)

Deploy the phoenix application to the Azure testing environment that was provisioned by SLaM.

Spike of issue #50.

Following instructions that can be found [here](https://github.com/dwyl/learn-phoenix-framework/blob/master/production-deployment.md)

[2017-08-16 14:31] RobStallion commented on #106
Have currently managed to gain access to the test environment provisioned by SLaM

[2017-08-16 14:33] RobStallion commented on #106
Installing dependencies required to run a phoenix application on the VM

[2017-08-16 14:37] katyedwards commented on #1
@markwilliamfirth is this one now done and awaiting reply too?

[2017-08-16 15:06] katbow commented on #106
On [this section](https://github.com/dwyl/learn-phoenix-framework/blob/master/production-deployment.md#build-the-release) and experiencing this error:

 ![image](https://user-images.githubusercontent.com/1287388/29370170-8200eaf8-829c-11e7-89f6-e182c9e537d2.png)

Investigating now & looking at a similar error from #841 in Healthlocker

[2017-08-16 15:18] markwilliamfirth commented on #1
@katbow is this one part of #90?

[2017-08-16 15:23] RobStallion commented on #106
Looking [here](https://github.com/healthlocker/healthlocker/issues/841#issuecomment-313113588) in 841

[2017-08-16 15:24] RobStallion commented on #106
@katbow has been able to give me access to the azure testing server provisioned by SLaM

[2017-08-16 15:25] katbow commented on #1
@markwilliamfirth The super-admin role & plug is complete & does what it is meant to do. The part that still needs doing on this is actually making that user on the deployed site, as it's one we will need to do manually. So I would actually say it's dependent on #50.

[2017-08-16 15:34] katyedwards commented on #1
Can a time estimate for this be included in your deployment planning too please.  Thanks @katbow

[2017-08-16 15:41] RobStallion commented on #106
following those steps I have been able to access the application as root by entering the following command into the command line...

`ssh root@"ip_address"`

[2017-08-16 15:46] katbow opened #107 "Deploy basic umbrella app"
Linked to #106, #50

The goal of this & #106 is for @RobStallion & I to go through and understand the *extensive* documentation written by Nelson.

This issue is longer than #106, as this is being down with a different application set up (umbrella vs regular), which has not yet been done by either ourselves, or Nelson. Because of this, differences in this process are not yet documented, and will n

[2017-08-16 15:47] RobStallion commented on #106
after running the command I am getting a very similar error to the one above, only this time is was a lot later in the build process.

[2017-08-16 15:54] RobStallion commented on #106
followed the steps taken [here]() in HL #841 but am currently getting the following error...

![image](https://user-images.githubusercontent.com/15571853/29372584-78bc7e06-82a3-11e7-9866-158bb3dab3f2.png)

Looking into possible solutions now and will update issue with each attempt

[2017-08-16 15:58] RobStallion commented on #106
have noticed that the name of server is not what we expected ...
![image](https://user-images.githubusercontent.com/15571853/29372787-0b40a0c2-82a4-11e7-8167-dbdcc4672050.png)

Am going to update the `edeliver/config` to reflect this and try to run the commands again

[2017-08-16 16:37] katyedwards commented on #4
Hi @Cleop thanks for starting work on these.  Can you add an awaiting review or please test label to the issues as you finish them - I know we can't test yet, but we're using those labels to track how much is done vs. still outstanding.   Thank you!

[2017-08-16 16:40] katbow opened #108 "Deploy complex umbrella app (this one!)"
This issue is not yet broken down as we are still going through #106 & #107. After completing these, we should have a better idea of how this will break down. For now with seeing how long it takes for simpler apps, we've added this as an initial estimate of the deploy.

[2017-08-16 17:11] katbow commented on #106
Have it working by *manually* starting the server, which is of course not desirable. Wanted to run through that step though to ensure it still 'works', and that the problem is with something in our edeliver set up

![image](https://user-images.githubusercontent.com/1287388/29375812-486152c6-82ae-11e7-93bb-c283ff0e66f3.png)

[2017-08-16 17:20] RobStallion commented on #106
We are currently getting the following issue...

![image](https://user-images.githubusercontent.com/15571853/29375891-9192f74c-82ae-11e7-8b67-46fd4da7f1dc.png)

We followed the instructions found in the ["Production" Phoenix Deployment readme](https://github.com/dwyl/learn-phoenix-framework/blob/master/production-deployment.md) and when we had errors we looked at [healthlocker issue #841](https://

[2017-08-16 17:28] RobStallion commented on #106
This is what happens when I `SSH` into the oxleas server...

![image](https://user-images.githubusercontent.com/15571853/29376321-14e6d108-82b0-11e7-9dbe-16674e3f7501.png)

and this is what happens when we log into the HL server...

![image](https://user-images.githubusercontent.com/15571853/29376442-78e80b72-82b0-11e7-9ddc-8b6596504785.png)

The Oxleas server has
[code]
on every login. Could this

[2017-08-16 19:10] reddog commented on #106
@robstallion There was a previous issue regarding setting of environment variables and use of `edeliver`. Could that be an issue here?  See https://github.com/healthlocker/healthlocker/issues/926

[2017-08-16 19:14] reddog commented on #106
@robstallion Thanks for the server login messages. It shows that there is a slightly different release of Linux installed 4.4.0.81 vs. 4.4.0.87 plus differences in awaiting updates, particularly some being security updates.

I am not sure - are there any plans in place for updating/supporting these servers?

[2017-08-16 19:42] RobStallion commented on #106
@reddog As far as I am aware SLaM are going to be the ones maintaining the servers so I think that they would be better suited to answer that.

Thanks for picking up on the #926. I've had a look into it and that was a different issue to the one we are currently experiencing but it did prompt me to double check all the environment variables and it doesn't appear they are the problem here.

[2017-08-16 21:13] RobStallion commented on #106
After a little more digging it appears that the issue is with the `config/prod.exs` file.

Found a solution [here](https://elixirforum.com/t/argumenterror-missing-adapter-configuration/3948). After adding this solution to the `config/prod.exs` file I have rerun the following command...
[code]
Now the build was successful...
![image](https://user-images.githubusercontent.com/15571853/29385419-88840

[2017-08-17 09:30] RobStallion commented on #106
looking into this error message...
[code]

[2017-08-17 09:46] RobStallion commented on #106
After briefly looking into the error above, `ioctl` appears to be an issue with `unix` and therefore is possibly something that needs to be fixed on the server itself.

@reddog @katyedwards We are still looking into this but as Stuart is away from tomorrow could you please double check with SLaM to see if this is may be related to the server setup.

[2017-08-17 09:58] reddog commented on #106
@RobStallion This is probably a user profile/term setup issue.

This `ioctl` error has been shown a few times in your screenshots.  Is it actually stopping anything from working or is it just reporting something that *should* be fixed?  If it doesn't really matter, can we leave it for now?

Does @katbow have the same issue (if not, could it be something on your local machine, in which case, could

[2017-08-17 10:12] RobStallion commented on #106
@reddog We have seen that the error message appears multiple times in the screenshots. Was part of the reason that we posted them all. It is something that needs to be fixed as it is stopping the deployment from working.

@katbow is having the same issue as this is not an error with our local machines, it is an error with the server that we are both `SSH`ing into. (Have tried on both laptops just

[2017-08-17 10:30] katbow commented on #106
We deployed with a simple phoenix app without ecto. The same message came up, but also with an `ok`.

![image](https://user-images.githubusercontent.com/1287388/29408210-408e4d7e-833f-11e7-87da-f923e17366bc.png)

We were able to run the site this way. So it seems that particular message is not actually the problem, and it is still something with the configuration involving ecto.

[2017-08-17 10:40] reddog commented on #106
@katbow Looks like a useful test.

So, although annoying, can leave the `ioctl` config correction for now?

What are the steps to test a basic app with `ecto` present?

Are you running a Vagrant machine locally?  Are there any issues along the lines of https://github.com/healthlocker/healthlocker/issues/856 or https://github.com/healthlocker/healthlocker/issues/864 ?

[2017-08-17 10:48] katbow commented on #106
@reddog no because for #856 that was deploying to heroku (because mssql was not available on heroku and we aren't using either heroku or mssql for this application), and for #864 we are not using vagrant. We are looking into the steps we need to take with ecto.

[2017-08-17 11:00] RobStallion commented on #106
Have managed to successfully deploy the application with ecto. Needed to fix error with db config in `config/prod.exs`.

Next step is #107 which @katbow has already began work on.

[2017-08-17 11:00] #106 closed

[2017-08-17 11:09] RobStallion commented on #107
basic phoenix umbrella has been created [here](https://github.com/katbow/umbrella_deployment)

[2017-08-17 11:25] Cleop commented on #19
Do we have the icon for the About Me page? @MollieCourtenay

For now making the link to the About Me page be a page saying "Coming soon" (with no fancy styling) as @katyedwards informs me that the About Me pages are now out of scope and so not being made yet.

The medication link will take you to the edit page of a patient.

[2017-08-17 11:27] Cleop commented on #36
@MollieCourtenay - do we have the 'About Me' icon?

For now making the link to the About Me page be a page saying "Coming soon" (with no fancy styling) as @katyedwards informs me that the About Me pages are now out of scope and so not being made yet.

The medication page will take a user to a non-editable view of their medications (if these have been set). If these have not been set then this will

[2017-08-17 11:31] katbow commented on #107
Set up edeliver & distillery in the apps/phoenix_app section but had the following error:

![image](https://user-images.githubusercontent.com/1287388/29410292-d6287136-8347-11e7-9360-8eb88ec2ec4b.png)

According to [this guide](https://medium.com/@brucepomeroy/deploying-an-elixir-umbrella-project-using-distillery-and-edeliver-b0e8528569e3) we need to instead set up edeliver & distillery in the roo

[2017-08-17 11:41] katbow commented on #107
Still have the same error. Moving the `package.json` & the `brunch-config.js` from the `phoenix_app` to the root.

[2017-08-17 11:48] katbow commented on #107
node modules installed this way. Release was built, however had other errors, shown in the 2 images below.
![image](https://user-images.githubusercontent.com/1287388/29410770-01e843d0-834a-11e7-801d-369fcfbdffe3.png)

![image](https://user-images.githubusercontent.com/1287388/29410777-0bd51c2e-834a-11e7-8fbf-a9d11b6cd41f.png)

Looking at setting the `RELEASE_VERSION` environment variable on the se

[2017-08-17 12:01] katyedwards commented on #19
![icons-oxleas_about me big](https://user-images.githubusercontent.com/24604903/29411287-124869e2-834c-11e7-8a09-5eb30042ed40.png)

@MollieCourtenay can you just have a quick check I've found the right one before @Cleop implements.  Thanks!

[2017-08-17 12:15] katbow commented on #107
A `RELEASE_VERSION` environment variable was not necessary. Instead, the extra line in the `.deliver/config` file that was added from the [link in this comment](https://github.com/healthlocker/oxleas-adhd/issues/107#issuecomment-323039393) was changed from `RELEASE_DIR="$BUILD_AT/apps/$APP/rel/$APP"` to `RELEASE_DIR="$BUILD_AT/rel/$APP"`. It was changed to this because the initial red error in the

[2017-08-17 13:24] katbow commented on #107
We removed the release version & it deployed, however it's not finding `priv/static` files. This means JS & CSS files don't load, so the deployed site looks like this:

![image](https://user-images.githubusercontent.com/1287388/29414473-b4fcc2ae-8357-11e7-9c4e-55e86f0264f8.png)

[2017-08-17 14:02] katbow commented on #1
sure thing, it would be back to the t25m estimate.

[2017-08-17 15:26] Cleop commented on #23
Having gone over the issue with @katyedwards - our understanding is that:

- service users will link to the edit service user page which will display their account info but only allowing for editing of their clinicians - see #24
- Carers names will not have a link to anywhere
- Staff members names will not at this time have the bin symbol to delete them as this issue is in the backlog - see #38

[2017-08-17 15:32] katbow commented on #107
we've been reading up on documentation from edeliver & distillery for umbrella apps specifically to see if there was anything about loading the static files. We couldn't find anything specific in the documentation for this, however @RobStallion thought we should change the `brunch-config.js` file to indicate where we want to build the static files to.

We changed it to watch the static folder from

[2017-08-17 15:44] katbow commented on #107
Added in
![image](https://user-images.githubusercontent.com/1287388/29420792-fa22e594-836a-11e7-9607-e4a3095d4da2.png)

which will take the static assets from within `phoenix_app` and compile them to the `phoenix_app/priv` folder. Now we have...

![image](https://user-images.githubusercontent.com/1287388/29420884-44430686-836b-11e7-8235-4e66b371b6ee.png)

which is just what we're looking for 👌 .

[2017-08-17 16:04] reddog commented on #107
@katbow Looks like your tests are giving good results.

CSS working on Azure vs. not when viewed locally - couldn't be something as simple as browser cached CSS could it?  It could well be that the webserver configurations for your local machine and Azure could be configured with different content expiry settings (although you do, of course, develop locally, however not in a *deployed* sense).

[2017-08-17 16:20] katbow commented on #107
It was a difference in the configuration for dev vs prod. Changed this section:

![image](https://user-images.githubusercontent.com/1287388/29422067-f0957d30-836e-11e7-8454-80aa5d2877aa.png)

It was looking for the `node_modules` in `apps/phoenix_app/node_modules` even though they had all been move to the root. It wasn't able to compile the assets locally with brunch since it couldn't find the npm

[2017-08-17 16:36] katbow commented on #107
Alright, all good! The final version of the set up is [on this repo](https://github.com/katbow/umbrella_deployment).

We'll need to consider that we have more static assets & of different types in oxleas app. This seemed to be a bit of a sticking point today, which we fixed for the file types & folders we had in the basic app. However something to still be mindful of & the fact that oxleas app is

[2017-08-17 16:36] #107 closed

[2017-08-17 16:40] katbow commented on #108
Now that we've completed #107, we'll be breaking this down as the next step.

[2017-08-18 16:00] markwilliamfirth commented on #108
- [x] README for how to get oxleas ADHD up and running (T1h)

- [x] README for how to deploy Oxleas ADHD (T4h)

- [x] Review of project and deployment code with QA (T1.5h)

- [ ] Deploy the project (T1d)

[Time estimated steps of deployment to be written up here for transparency]

[2017-08-18 16:11] #103 closed

[2017-08-18 16:12] #100 closed

[2017-08-18 16:12] katbow commented on #100
Merged

[2017-08-18 16:13] katbow commented on #99
Done & merged

[2017-08-18 16:13] #99 closed

[2017-08-18 16:14] #90 closed

[2017-08-18 16:14] katbow commented on #90
All related issues complete

[2017-08-18 17:02] RobStallion opened #110 "Deploy application to Azure"
- [x] Create readme with full list of instructions for how to deploy umbrella application to the the Azure environment. - 4h

- [x] Update application to allow for deployment to take place. -1h (will be based on what was learned in #107) Steps to complete...
  - [x] add `edeliver` & `distillery`
  - [x] move `package.json` and `brunch-config.js` into project route
  - [x] update 'package.json and

[2017-08-18 17:02] RobStallion commented on #110
relates to #50 #107

[2017-08-21 10:06] katbow commented on #85
@harrygfox I think this is good for you to close now! The about me section is being held off on for the moment, and the other 2 that are unchecked were done/are being done in conjunction with other issues. Thanks for all your work on this 🎉  ❤️ !

[2017-08-21 11:02] RobStallion commented on #110
to test deployment of full umbrella app, the repo has been forked [here] (https://github.com/RobStallion/oxleas-adhd).
This will allow us to make changes and test the deployment configurations faster as we will not have to wait for things to merged into master. Once the correct set up has been found it can be replicated in this repo.

[2017-08-21 11:32] RobStallion commented on #110
following steps found [here]() and the comments made in #106 & #107 have been able to deploy the oxleas-adhd umbrella application. However we are currently getting the following error...

[code]

![image](https://user-images.githubusercontent.com/15571853/29517377-bb5c7ffa-866c-11e7-8766-e4a947f36e92.png)

[2017-08-21 11:33] RobStallion commented on #110
this seems to be an error with `apps/healthlocker/config/prod.exs` file so going to start looking here first.

[2017-08-21 11:42] RobStallion commented on #110
static pages (ones with no reliance on the database) seem to be working...

![image](https://user-images.githubusercontent.com/15571853/29517653-f41decec-866d-11e7-805a-94cbf5a4bd14.png)

Currently looking into the file mentioned in the comment above for possible caused for why the database connection would not be working

[2017-08-21 11:44] RobStallion commented on #110
Could possibly be an issue with the `secret_key_base`...
[code]

[2017-08-21 14:03] RobStallion commented on #110
issue was with the `env vars` on the VM. Has now been resolved

![image](https://user-images.githubusercontent.com/15571853/29522632-bf1ac146-8681-11e7-8071-50384d727118.png)

[2017-08-21 15:52] katbow commented on #49
for this we need to know the answer to #94. It's uncertain if the ssl certificate needs to be set up site wide first before we can set it up for this particular subdomain.

[2017-08-21 15:56] katyedwards commented on #49
Thanks, I've nudged them for an answer...

[2017-08-21 15:57] katbow opened #113 "App tidy up"
There are a few outstanding things that need to be tied off/cleaned up. They are across multiple issues, so it's easier to keep track in this single issues so the others can be looked at as individual features.

* Change redirects for after
  * [x] superadmin adds each user type
  * [x] clinician adds medication for a user
* [x]  Change title from Healthlocker to Headscape Focus (how the tab displ

[2017-08-21 16:35] MollieCourtenay opened #114 "change favicon"
![headscape logo favicon 16px-02](https://user-images.githubusercontent.com/25012688/29556536-0c041664-871e-11e7-8910-860c205e8767.png) 16px
![headscape logo favicon 32 px-03](https://user-images.githubusercontent.com/25012688/29556533-09615390-871e-11e7-8cd2-b101064dbb97.png) 32px

[2017-08-21 17:09] RobStallion commented on #110
This app is now deployed 😭

[2017-08-21 17:09] #110 closed

[2017-08-22 07:42] reddog commented on #49
@MollieCourtenay The IP address of the server is 51.140.117.78 This can be used now to set up DNS for focus.headscapegreenwich.co.uk

[2017-08-22 07:55] reddog commented on #108
@markwilliamfirth Thanks for your deployment notes. Thanks @RobStallion for your work on #110 and getting the app installed.

Just wanted to check, is this issue the right place for the deployment plan?

As discussed, the plan should include setting up SSL, see #94.

It should also include setting up AWS SES as that has been the chosen outgoing email mechanism, see #32 and #33.

Any manual tasks l

[2017-08-22 08:20] katyedwards commented on #49
@katbow Oxleas have got in touch just to say that he will come back to us soon on a range of things we've asked - we'll update you as soon as we hear anything on this, but if you need to get to it sooner, just go with letsencrypt.

[2017-08-22 08:29] reddog commented on #108
@RobStallion Thanks for your notes on https://github.com/healthlocker/healthlocker/issues/999  Is this the list you were referring to of specific things to check in Oxleas post-deployment?  Messaging was an issue previously - does that need adding?

[2017-08-22 08:38] reddog commented on #108
@markwilliamfirth Sorry for a couple further notes:

Does the deployment plan include `nginx` setup as listed on the Healthlocker deployment at https://github.com/healthlocker/healthlocker/issues/841 ?

Is Travis CI/CD also on the plan as per https://github.com/healthlocker/healthlocker/pull/959 ?

[2017-08-22 09:36] markwilliamfirth commented on #50
@katbow @RobStallion is this one ready to be closed now?

[2017-08-22 09:45] RobStallion opened #116 "errors that came up after healthlocker deployment"
- [x] https://github.com/healthlocker/healthlocker/issues/905
Was to do with sending emails from the site. Was initially an error with SLaM's setup of the virtual machine.

- [x] https://github.com/healthlocker/healthlocker/issues/894
Was also to do with sending emails from the site. This one was our side.

- [x] https://github.com/healthlocker/healthlocker/issues/887
This issue came up when you e

[2017-08-22 10:03] katyedwards commented on #116
Thanks @RobStallion is Oxleas fully deployed and ready for us to start testing and closing issues now?

[2017-08-22 10:07] RobStallion commented on #116
@katyedwards yes you can start closing issues now.

[2017-08-22 10:11] katyedwards commented on #116
Thanks @RobStallion can you slack us login details for the super admin so we can create accounts for ourselves to use for testing.   Thanks!

[2017-08-22 10:21] MollieCourtenay commented on #4
+ [ ] please can this be a bit smaller? perhaps 2/3rd of this size?

[2017-08-22 10:22] #3 closed

[2017-08-22 10:23] #5 closed

[2017-08-22 10:32] katyedwards commented on #45
@RobStallion Already an issue!

[2017-08-22 10:32] MollieCourtenay commented on #53
incorrect copy

[2017-08-22 10:33] katyedwards commented on #45
Sign up is still in the burger menu and gives an error page if you click on it.

[2017-08-22 10:34] MollieCourtenay commented on #47
incorrect copy.

[2017-08-22 10:40] MollieCourtenay commented on #4
See above - had already looked at this.

[2017-08-22 11:03] MollieCourtenay commented on #14
I've had to make a couple of mini fixes after seeing it.

[2017-08-22 12:13] markwilliamfirth commented on #94
@katbow @RobStallion please take a look at this one and:

- Provide a time estimate
- Get input from Tony if you need it
- Post an update here on what's required from SLaM

[2017-08-22 12:15] markwilliamfirth commented on #49
Waiting on Oxleas

@katbow @RobStallion please take a look at this one and depending on answer for Oxleas

Provide a time estimate
Get input from Tony if and when you need it

[2017-08-22 13:16] katbow commented on #108
@reddog there's still a day left from the original 4 day estimate. @RobStallion & I paired from Wed afternoon to end of day Friday, then Rob worked on his own yesterday for deployment which is 3 pairing days.

Those are parts of the deployment plan, however they were not added in yet as there were some questions regarding ssl that @katyedwards was chasing up. At yesterday's stand up, Katy mentione

[2017-08-22 13:32] katbow opened #120 "Re-inputting carers (or other user types)"
The original UX for cases where carers(or any user type) are added, and a mistake is made, would be that the super admin would then just start from scratch.

However, what happens in a case where the carer details are input with some mistakes, but the email is input correctly? The email is a unique index meaning there cannot be a duplicate email address in the database. If the super admin then tri

[2017-08-22 13:45] MollieCourtenay commented on #120
Hi @katbow thanks for highlighting this as an issue.

As the roll out is with a small team we will have to make this explicitly clear not to get emails wrong.
We can build this into the next piece of work if this becomes an issue.

[2017-08-22 14:04] katbow commented on #120
okay great. A case where this becomes an issue is if a super admin goes through the following steps:
* enters a carer & clicks save
* this puts them at the next step, where they are meant to enter the service user to connect to this carer
* if after clicking save & before entering a service user to connect, they realise they made a mistake in entering a carer and don't carry out the connection pro

[2017-08-22 14:06] katbow commented on #120
down the line, this could be fixed by being able to delete any user input incorrectly, and/or being able to click on an unconnected carer which would take the super admin to the section for connecting to a service user.

[2017-08-22 14:07] reddog commented on #108
@katbow Thanks for your comments.

Sorry, I was working from the passed on comment that deployment was *virtually finished*.  I'm not 100% sure which issue relates to the deployment plan (see my comment above), and hence have added queries here - very happy to put them against another issue if more appropriate.

Things like AWS SES setup & configuration, nginx and Travis weren't previously include

[2017-08-22 14:08] iteles commented on #94
@katbow @robstallion @molliecourtenay Sorry we didn't see this one earlier! letsencrypt lets you cover sub domains and the root with a single certificate so this shouldn't be an issue :+1:

[2017-08-22 14:22] harrygfox commented on #85
Thanks @katbow and @RobStallion !

[2017-08-22 14:22] #85 closed

[2017-08-22 14:23] katyedwards commented on #94
@iteles thanks for that - great news!

[2017-08-22 15:03] markwilliamfirth commented on #94
Posting Nelson's let's encrypt doc here as might be useful: https://github.com/dwyl/learn-heroku/blob/master/SSL-certificate-step-by-step-setup-instructions.md

(might be different for Azure?)

[2017-08-22 15:14] katbow commented on #108
yes, that's correct. The app is deployed & can be accessed at the url I put on slack(http://51.140.117.78/).

As I said [here](https://github.com/healthlocker/oxleas-adhd/issues/108#issuecomment-324022702), those items were not included in the deployment plan because there were blockers for it. Additionally, the deployment was not **dependent** on those issues being completed; rather that the depl

[2017-08-22 15:30] katbow commented on #1
Added to the database on the staging server with the email oxl-tr.focusadhd@nhs.net

[2017-08-22 15:31] #113 closed

[2017-08-22 15:36] #53 closed

[2017-08-22 15:42] #47 closed

[2017-08-22 15:53] #45 closed

[2017-08-22 15:59] #6 closed

[2017-08-22 16:11] #67 closed

[2017-08-22 16:13] MollieCourtenay commented on #16
+ [ ] add some padding above the new medication icon. So it is not so close to the diary button.
<img width="301" alt="screen shot 2017-08-22 at 17 12 35" src="https://user-images.githubusercontent.com/25012688/29575690-3350d9f2-875d-11e7-814d-a4239646d465.png">

[2017-08-22 16:17] MollieCourtenay commented on #36
+ [ ] add some padding above the new medication icon. So it is not so close to the diary button.
<img width="301" alt="screen shot 2017-08-22 at 17 12 35" src="https://user-images.githubusercontent.com/25012688/29575690-3350d9f2-875d-11e7-814d-a4239646d465.png">

[2017-08-22 16:19] #28 closed

[2017-08-22 16:39] MollieCourtenay commented on #7
The content doesn't look like it has been merged in.

[2017-08-22 16:46] #9 closed

[2017-08-22 16:48] MollieCourtenay commented on #12
This has not been merged, the line about alcohol and drugs has not been removed.

[2017-08-22 16:51] MollieCourtenay commented on #10
incorrect content

[2017-08-22 16:55] MollieCourtenay commented on #11
wrong content

[2017-08-23 10:42] katyedwards commented on #1
Super user is there and can log in.

[2017-08-23 10:42] #1 closed

[2017-08-23 10:45] katyedwards opened #122 "Superuser - return to Add User page"
If the logged in super-user navigates away from the add new user page (e.g. by going to the menu and clicking on goals and tracking) there doesn't seem to be a button to get back to the add user section

[2017-08-23 11:14] katyedwards commented on #57
All seems to be working fine, thanks

[2017-08-23 11:14] #57 closed

[2017-08-23 11:15] katyedwards commented on #58
Yep, all good!

[2017-08-23 11:15] #58 closed

[2017-08-23 11:26] katyedwards commented on #59
@MollieCourtenay All works fine, but one nit-picky bit...

_IF, there is NOT a service user account with those details, I am prompted to check those details and try again or go back to see if there is an account for the person I am looking for, and if not create one first._

Right now, it just says SU cannot be found, it doesn't actually prompt to check the details and try again...

![screenshot 2

[2017-08-23 11:40] katyedwards opened #123 "Odd alignment on blank fields"
When adding a new SU or Carer, if you leave a blank field and try to save/ submit, you get a 'can't be left blank' message, which throws the alignment off an looks a bit odd
e.g:

![screenshot 2017-08-23 12 03 04](https://user-images.githubusercontent.com/24604903/29613936-1059f12e-8800-11e7-9ff7-1650db6c393f.png)

![screenshot 2017-08-23 12 07 45](https://user-images.githubusercontent.com/2460490

[2017-08-23 11:51] katyedwards commented on #43
All looks good!

[2017-08-23 11:51] #43 closed

[2017-08-23 11:55] katyedwards commented on #23
Yes, looking good

[2017-08-23 11:55] #23 closed

[2017-08-23 12:02] katyedwards opened #124 "Super User view of which staff are assigned to SU"
When logged in as super admin:

If you click on an SU to view their details, the staff members become unticked.

If you click the browser back button _without_ clicking save then the original staff members remain assigned (but you can't see who it is)

If you click Save then it removes all staff previously assigned.

So if the Super User clicks to view and SU they cannot tell who was assigned prev

[2017-08-23 12:06] katyedwards commented on #24
@MollieCourtenay I raised another issue #124 in the backlog, but just noticed it is in the AC that you can select or deselect.

Right now, when you click on an SU to view the details, all the staff become unticked so you can't see who was assigned previously.

Will leave you to decide whether to accept, close and leave the other issue in the backlog, or whether to leave this open to be changed.

[2017-08-23 12:21] katyedwards commented on #15
@Cleop Sorry - the screenshot wasn't accurate.

We need additional text boxes for:

- [ ] What medication do I take for my adhd?

- [ ] Other medication I take:

- [ ] What medication have I taken in the past for my ADHD?

Right now you can fill in details _about_ the medications, but there is no where to fill in what the medication actually is!

And same viewable text boxes on the SU view #16

@M

[2017-08-23 12:23] katyedwards commented on #16
Same notes as #15

We need additional viewable text boxes for

- [ ] What medication do I take for my adhd?

- [ ] Other medication I take:

- [ ] What medication have I taken in the past for my ADHD?

[2017-08-23 12:38] MollieCourtenay commented on #59
The flash message should say:

No user found. Check the details you entered and try again. Or go back to see if there is an account for the person you are looking for, and if not create one first.

In order to answer the  original ACS.

[2017-08-23 12:44] MollieCourtenay commented on #24
@katbow @RobStallion is that the expected behaviour? ^^
It is not what I would have imagined?

Personally I don't think this is a new issue, but a fix of the existing one.

[2017-08-23 12:51] katyedwards commented on #37
Both updated

[2017-08-23 12:51] #37 closed

[2017-08-23 12:56] katyedwards commented on #102
Yes, looking good

[2017-08-23 12:56] #102 closed

[2017-08-23 13:01] katyedwards commented on #56
Carer and SU view is all good

The Clinician dashboard view for a parrticular SU does not display the care team at all under the details and meds tab

[2017-08-23 13:03] katyedwards commented on #46
Looks good.

[2017-08-23 13:03] #46 closed

[2017-08-23 13:06] katyedwards commented on #19
Yes, lovely!

[2017-08-23 13:06] #19 closed

[2017-08-23 13:07] katyedwards commented on #21
Clinician and SU are good.

Blocked by #59

[2017-08-23 13:09] katyedwards commented on #41
Looking good!

[2017-08-23 13:09] #41 closed

[2017-08-23 13:34] katyedwards commented on #27
All done!

[2017-08-23 13:34] #27 closed

[2017-08-23 13:36] katbow commented on #24
I thought the ticked checkboxes for the edit wireframe were in the 'end' state, like how they are in adding a service user wireframe.

For best UX, I guess it depends on how the super admins are told about changes. If they are just given the full list, then having them default to unchecked would prevent errors, such as leaving clinicians in that shouldn't be part of the care team. If they only kno

[2017-08-23 13:37] katyedwards commented on #26
LGTM!

[2017-08-23 13:37] #26 closed

[2017-08-23 15:12] MollieCourtenay commented on #24
@katbow apologies if the design hack was misleading, due to the smallness of this project I put more efforts into making the ACs clear and writing the content out in each issue than with making full sets of mock ups.

In order to deselect (as written in the AC), you'd need to have an already ticked box.

This would be better UX - as it does not rely on the admin remembering what the set up was wha

[2017-08-23 15:45] katyedwards commented on #11
All good

[2017-08-23 15:45] #11 closed

[2017-08-23 15:45] katyedwards commented on #12
Done now!

[2017-08-23 15:45] #12 closed

[2017-08-23 15:47] katyedwards commented on #10
LGTM!

[2017-08-23 15:47] #10 closed

[2017-08-23 15:49] katyedwards commented on #7
Looks good

[2017-08-23 15:49] #7 closed

[2017-08-23 15:53] katyedwards opened #125 "Messages Not Submitting"
Have checked SU, Carer and Clinician

No messages submitting.

See https://github.com/healthlocker/healthlocker/issues/915

[2017-08-23 15:53] katyedwards commented on #116
Messages aren't submitting #125

[2017-08-23 15:57] reddog commented on #94
@markwilliamfirth As part of the whole project deployment, can this  be started well in advance of the end of week to accommodate any potential issues?

[2017-08-23 15:57] markwilliamfirth commented on #114
Just a note to say that this was not in the original scope and was added later - @Cleop will complete this if there is still time at the end of the sprint, but it is not guaranteed

[2017-08-23 15:59] reddog commented on #108
@markwilliamfirth Can the remaining tasks for full project deployment please be listed and addressed well before the end of the week to accommodate any potential issues, eg SSL, nigjnx, AWS SES, etc

[2017-08-23 16:11] markwilliamfirth commented on #94
@RobStallion to add a time estimate after looking at the documentation

[2017-08-23 16:16] reddog commented on #94
@markwilliamfirth How much time is being set for reading the documentation and when will that happen?

[2017-08-23 16:48] markwilliamfirth opened #126 "Collection of Documentation for Setting up Oxleas"
Created by myself by request from @reddog (https://github.com/healthlocker/oxleas-adhd/issues/108#issuecomment-324381692)

**As a** CTO of Mindwave Ventures
**I would like** a single place where I can see all the documentation for setting up a new Oxleas environment
**So that** I can use this to set up Oxleas in future at other places

This includes documentation for:
- [ ] The Azure deployment pr

[2017-08-23 16:49] markwilliamfirth commented on #108
@reddog please see here (https://github.com/healthlocker/oxleas-adhd/issues/126) and update the issue according to your needs!

[2017-08-23 16:50] markwilliamfirth commented on #126
@reddog to update this issue to reflect his requirements

[2017-08-23 16:56] reddog commented on #108
@markwilliamfirth Thanks very much for opening #126 - I'll take a look.

I probably mis-worded my request - there is not issue with the remaining *project* deployment tasks split out, eg nginx.  I want to try to ensure they don't slip down any gaps, plus time estimate if required and assign to people.  Can <-- this issue be created please?

[2017-08-23 16:59] reddog commented on #94
@markwilliamfirth Thanks for that.  So that's 25 minutes for reading documentation *and* implementing?  When will that be completed?  Is it also part of the `nginx` configuration?

[2017-08-23 17:06] markwilliamfirth commented on #108
@reddog I think it might be clearer for everyone if you open an issue with a description (including requirements) of what you'd like and we can action it as I'm not 100% what your requirements are in this context

[2017-08-23 17:07] reddog commented on #108
@markwilliamfirth I'm not sure that I am the best person to confirm *all* of the steps required for the *full project* deployment, so my opening the issue would be a partial list at best.  I have done my best to list a number of items above - I don't know if it's exhaustive or not.

The items (that I've listed) above don't show time estimates or persons assigned.

[2017-08-23 17:16] markwilliamfirth commented on #108
@reddog I think it might be best if you (or the product owner) creates a new issue for this and we can then augment it once we've read and understood your needs - seems like we're both a little unsure of the requirements here!

[2017-08-23 17:18] markwilliamfirth commented on #108
@reddog we normally follow this format for issue creation:

As a CTO of Mindwave Ventures
I would like...
So that...

The requirements are:

- [ ]

- [ ]

- [ ]

- [ ]

[2017-08-23 17:29] reddog commented on #108
@markwilliamfirth Sorry for not explaining myself very well.  It would be good to speak as I'm not doing well and getting my thoughts down well in writing.  Please let me know when we can speak.

[2017-08-23 20:23] markwilliamfirth commented on #108
@reddog unfortunately my time is very limited tomorrow morning with other commitments (I'm also booked off in the afternoon) and I'm not able to assign time to additional phone calls in the morning

@katyedwards would you be able to help us here with regards to us getting this clarified in writing?

With regards to the mention about SSL, there is already an SSL issue here: #94

It would be great t

[2017-08-23 21:51] reddog commented on #108
@markwilliamfirth Thanks for that.  Sorry I wasn't able to speak today since you're unavailable tomorrow.

Would Rob or Katherine be available to speak to instead?

[2017-08-24 05:41] markwilliamfirth commented on #94
@reddog 25 minutes for Rob to look at the SSL documentation and then provide a rough time estimate which includes the following:

- Thoroughly reading the SSL documentation
- Setting up the SSL cert

Rob will be looking into it this morning

@RobStallion please can you answer @reddog 's question about whether nginx config is part of SSL set up once you have had a look at the steps to set up the SS

[2017-08-24 05:46] markwilliamfirth commented on #108
@reddog Rob and Katherine will be working on development and additional phone calls would cut into this time - I would suggest we try and write down requirements if possible as this is our standard process and the most time-efficient to ensure we can deliver the project on time. We've already gone over on the assigned time for standup calls and so I wouldn't introduce more time for calls as this m

[2017-08-24 06:53] markwilliamfirth commented on #125
@katbow @RobStallion to provide time estimate for a fix

[2017-08-24 06:55] markwilliamfirth commented on #33
@katbow is this a quick one @Cleop could do?

[2017-08-24 06:56] markwilliamfirth commented on #32
@katbow is this a quick one @Cleop can do?

[2017-08-24 07:06] reddog commented on #50
Reopening issue as somewhere for remaining steps to be listed, time estimated and have someone assigned to.  Please see https://github.com/healthlocker/oxleas-adhd/issues/108#issuecomment-324381692 and other comments.

[2017-08-24 07:09] reddog commented on #108
@markwilliamfirth I have reopened #50 and referred to comments above. I think that captures everything. Please let me know if there are any remaining uncertainties.

[2017-08-24 07:31] markwilliamfirth commented on #50
@reddog this issue is for deployment of the app and this has been completed, the comment that is referenced mentions:

AWS SES setup & configuration
nginx
Travis
SSL

However it is not clear what the requirements are and there is already an issue for SSL for example ( #94 ) - please could you clarify the requirements in a new issue as this issue should be closed as it has already been completed.

[2017-08-24 07:42] #14 closed

[2017-08-24 07:51] MollieCourtenay commented on #16
the links in the medication FAQs need the aqua flex wrap

[2017-08-24 07:52] MollieCourtenay commented on #16
+ [ ] it would be best if the text was not this new blue colour - I think another assumption from the hacks but ideally they would just be the dark blue.

[2017-08-24 08:14] markwilliamfirth commented on #50
@reddog

in response to:

Hi David - I'm unavailable to take calls this morning (https://github.com/healthlocker/oxleas-adhd/issues/108#issuecomment-324451776)

All requirements that the dev team have are recorded on github. Please let us know any additional requirements to what we already have (such as #94 ) and we can then address these.

[2017-08-24 08:16] reddog commented on #50
@markwilliamfirth Thanks for your comments.

Which issue is the correct issue to reference with regard to the whole project being installed? Maybe this is an epic?

Which issue shows nginx, for example, as a task with time estimates and assignees?

Can you please list:

- [ ] installation task
- [ ] issue for that task
- [ ] time estimate of that task
- [ ] assignee
- [ ] when it is scheduled for

[2017-08-24 08:22] markwilliamfirth opened #127 "nginx Installation, Configuration and Setup"
Linked to https://github.com/healthlocker/oxleas-adhd/issues/49 https://github.com/healthlocker/oxleas-adhd/issues/94

@katbow @RobStallion please can you provide a time estimate

Time estimate should include:

- [ ] Time necessary to review implementation documentation

- [ ] Installation, Configuration and Setup of nginx to Oxleas

[2017-08-24 08:23] markwilliamfirth commented on #50
@reddog please see here: https://github.com/healthlocker/oxleas-adhd/issues/127

Please feel free to create any additional issues for information or tasks you require and I can address them

[2017-08-24 08:27] reddog commented on #50
@markwilliamfirth Thanks for creating that new issue.

Can you please reply with which issue relates to the whole of the project being installed (ie all constituent parts)?

It is not for me to confirm if there are any other steps. I have previously commented that we have insufficient documentation to determine if all steps are covered. As such, can you please ensure that all remaining issues are

[2017-08-24 08:33] markwilliamfirth commented on #50
@reddog

There is not an issue for this as far as I can see

Our processes require product owners / project managers to create issues with their requirements - you don't have to list all the technical steps, just what you wish us to do

Please can you further define what you mean by "whole project installation" - this is subjective and could lead to miscommunication. If possible please break down

[2017-08-24 08:35] markwilliamfirth opened #130 "AWS SES configuration"
@katbow @RobStallion please can you provide a time estimate

Time estimate should include:

- [ ] Time necessary to review implementation documentation

- [ ] Installation, Configuration and Setup of AWS SES on Oxleas

[2017-08-24 08:36] markwilliamfirth commented on #50
@reddog please see here for an issue for AWS: https://github.com/healthlocker/oxleas-adhd/issues/130

Please feel free to create any additional issues describing the outcomes you want

[2017-08-24 09:08] reddog commented on #50
@markwilliamfirth Thanks for opening the new issue on AWS SES.

As one doesn't already exist, so that we can ensure nothing falls through the cracks, can you please open an issue that pulls together the remaining setup steps.  Ideally this would have been the issue (epic?) that included all components, eg Postgres, deployment of umbrella app, nginx, etc.

Thanks very much,

[2017-08-24 09:09] katyedwards commented on #16
@MollieCourtenay That last comment, do you mean the headings text  - what meds am I taking etc?

[2017-08-24 09:24] markwilliamfirth opened #134 "Postgres configuration"
Linked to https://github.com/healthlocker/oxleas-adhd/issues/50#issuecomment-324578780

@katbow @RobStallion please can you provide a time estimate

Time estimate should include:

- [ ] Time necessary to review implementation documentation

- [ ] Installation, Configuration and Setup of Postgres on Oxleas

[2017-08-24 09:24] markwilliamfirth commented on #50
@reddog in order to make issues for technical steps these need to come from a requirement / outcome from the client - please could you make a "full project installation" issue defining this and describing the outcomes you wish and we can proceed from there

I have created a separate Postgres issue as you have requested this. Please feel free to create any additional issues describing the outcomes

[2017-08-24 09:38] reddog commented on #50
@markwilliamfirth Thanks for creating the Postgres issue.  Although not previously split out as a separate issue, this is one of the steps that has been completed, see https://github.com/healthlocker/oxleas-adhd/issues/110#issuecomment-323742234  As such, should it be `priority-1`?

[2017-08-24 09:40] markwilliamfirth commented on #50
@reddog it is a priority 1 as it has been requested by yourself to be looked into with urgency

Please close it if it is not needed and please open any other additional issues and add priority labels as appropriate

As the postgres step has already been completed when Katherine and Robert see it they will update the issue to say this

[2017-08-24 09:45] reddog commented on #50
@markwilliamfirth Thanks for confirming that.  I had mentioned the Postgres setup as an example of a *previously completed* step.

Other than lacking documentation (dealt with elsewhere), Is it useful for Katherine and Rob to have to review the newly created issue at this stage?

Thanks.

[2017-08-24 09:47] markwilliamfirth commented on #134
Closed https://github.com/healthlocker/oxleas-adhd/issues/50#issuecomment-324587700

[2017-08-24 09:47] #134 closed

[2017-08-24 09:49] markwilliamfirth commented on #50
@reddog I created the issue as I understood that was your request. I have now closed it based on your comment above.

As stated before - please create any issues with requirements, outcomes and priority labels that you wish me to address. This avoids any potential miscommunication. Thank you!

[2017-08-24 09:49] katyedwards opened #136 "Change caseload view title"
Caseload view currently says "Healthlocker users"

- [x] As a Clinician I want to see a list of my caseload with the heading 'Headscape Focus users'

[2017-08-24 09:50] reddog commented on #50
@markwilliamfirth Thanks for that.

Do we also now have an issue that pulls together of the functional components required for completion of the app installation?  For example nginx, AWS SES, etc?

Thanks again.

[2017-08-24 09:56] markwilliamfirth commented on #50
@reddog please create any issues with requirements, outcomes and priority labels that you wish me to address. This avoids any potential miscommunication and this is the process we work by, I'm sorry that I'm unable to help otherwise, but this is the process that must be followed with regards to our development.

[2017-08-24 10:07] reddog opened #138 "Steps required to complete project installation"
Please list all technical functional components required in order to complete the project installation such that:

1.  the installation is similar in nature to SLaM's Healthlocker installation in terms of technical components
2.  the project, namely Oxleas' Healthlocker implementation - this (and associated) repos, are in a complete state for client use.

As examples, but not necessarily an exhaus

[2017-08-24 10:08] reddog commented on #50
@markwilliamfirth I have created https://github.com/healthlocker/oxleas-adhd/issues/138 and I hope this fully covers anything remaining.

[2017-08-24 10:16] markwilliamfirth commented on #138
@katbow @RobStallion please could you provide a time estimate?

[2017-08-24 10:17] markwilliamfirth commented on #50
@reddog thanks! Closing this issue (50) as it is complete

[2017-08-24 10:17] #50 closed

[2017-08-24 10:22] katbow commented on #130
#32 & #33 need to be done for this. Shouldn't be any other installation/set up as it's already completed within app. T25m for both of those together

[2017-08-24 10:23] markwilliamfirth commented on #126
@reddog please could you close this issue if it's no longer required due to (https://github.com/healthlocker/oxleas-adhd/issues/138) or please could you confirm below that this is correct and this meets your requirements

[2017-08-24 10:26] markwilliamfirth commented on #138
@reddog please indicate the prioritisation for a time estimate for this compared with other issues

[2017-08-24 10:37] reddog commented on #138
@markwilliamfirth Getting to a complete project set up ready for end user access is a *key goal* for this sprint.  As such I would imagine that the information requested here is actually listed somewhere else (maybe just in people's heads?).  How long will listing it here take?

[2017-08-24 11:31] katbow commented on #32
it's easier for Rob or I to do as we already have server access. @katyedwards I sent the email out to oxl-tr.focusadhd@nhs.net to be verified so that this can be set on the server.

[2017-08-24 11:45] MollieCourtenay commented on #32
@katbow Oxleas said at 12.30 they have verified email from AWS

[2017-08-24 15:52] katyedwards opened #139 "Odd display when 0 sleep hours entered"
- [x] Fix as per Healthlocker

https://github.com/healthlocker/healthlocker/issues/830

[2017-08-24 15:55] katyedwards opened #140 "Links on SU Meds page don't go anywhere"
- [x] Sending a message
- [x] Tips
- [x] Send a question

- [x] Remove repeated: and when?  and when?

[2017-08-24 15:57] katyedwards opened #141 "When Clinician logs in, direct straight to Caseload"
- [x] As a clinician when I log in, I am taken straight to my caseload

[2017-08-24 16:49] katbow commented on #59
@Cleop This is another small one as well post-demo.
- [ ] When details entered are incorrect, change flash message to say:

[2017-08-24 17:03] RobStallion commented on #127
closed in favour of #94

[2017-08-24 17:03] #127 closed

[2017-08-24 17:03] RobStallion commented on #94
Work needed to be done in order to create an SSL Certificate for Oxleas

- [ ] follow instructions found in [this readme](https://github.com/dwyl/learn-heroku/blob/master/SSL-certificate-step-by-step-setup-instructions.md) for Let's Encrypt free SSL.

- [ ] Install Nginx on the virtual environment.

- [ ] Configure Nginx following instructions found [here](https://mediatemple.net/community/product

[2017-08-25 07:22] katyedwards commented on #15
@MollieCourtenay done apart from text colour - is it ok?

[2017-08-25 08:10] RobStallion commented on #49
@katyedwards @reddog Do you know the current progress Oxleas have made towards setting up the subdomain focus.headscapegreenwich.co.uk? This is needed in order to get an SSL Certificate so we will need to know as soon as possible.

[2017-08-25 08:13] katyedwards commented on #8
Lovely!

[2017-08-25 08:13] #8 closed

[2017-08-25 08:15] katyedwards commented on #49
Our contact at Oxleas was chasing his team yesterday - I've chased him again now.  Will update you as soon as I can

[2017-08-25 08:16] katyedwards commented on #136
Done

[2017-08-25 08:16] #136 closed

[2017-08-25 08:44] MollieCourtenay opened #144 "Add some padding between flash message and buttons"
<img width="832" alt="screen shot 2017-08-25 at 09 43 26" src="https://user-images.githubusercontent.com/25012688/29706477-e2c09a08-8979-11e7-9d1d-b08d6a0ba8b2.png">

[2017-08-25 09:32] RobStallion commented on #94
installed nginx on `Oxleas-HL-Test` environment

[2017-08-25 09:48] MollieCourtenay opened #146 "copy over from HL the st/th and 0 for tracking overview"
- [x] copy over from HL the st/th and 0 for tracking overview

[2017-08-25 09:50] MollieCourtenay opened #147 "alignment of tick boxes and clinician name in super admin view"

[2017-08-25 10:10] MollieCourtenay commented on #24
@Cleop @katbow this is the one for keeping staff ticked

[2017-08-25 10:11] katyedwards opened #148 "Ensure text copy is consistent HL colour"

[2017-08-25 10:12] katyedwards commented on #16
Copy colour moved into new issue - #148

[2017-08-25 10:12] RobStallion commented on #94
Going to install nginx on the `Oxleas-HLLive` server and check the configuration on there as this is not in use right now.

[2017-08-25 10:15] katyedwards commented on #33
@RobStallion assigning to you while you wait for subdomain for SSL

[2017-08-25 10:15] RobStallion commented on #94
After installation this is the message that displays when you go to `51.140.116.95`

![image](https://user-images.githubusercontent.com/15571853/29710030-9606967e-8986-11e7-86cf-fe93a2e3ec89.png)

[2017-08-25 10:15] katyedwards commented on #32
@RobStallion assigning to you while you wait for subdomain for SSL

[2017-08-25 10:17] MollieCourtenay opened #149 "Super Admin, stop them accessing the rest of the site"

[2017-08-25 10:28] RobStallion commented on #49
@katyedwards could you please check that they have made/are making the subdomain where they registered the domain that they already have.

They need to add an 'A' record to the DNS config

[2017-08-25 10:31] katyedwards commented on #49
@RobStallion I was just writing you a message on the other SSL issue!

I'm gonna chase again now... can you spell out for me what we need them to do/ what we need from them...

1. They need to create the subdomain
2. They need to add an A record to the DNS config (for the subdomain)
3. We need to know where it is registered

Anything else?

[2017-08-25 10:44] markwilliamfirth commented on #49
@katyedwards just a note to say if they're willing to give @RobStallion (or myself) temporary login detail access to their domain account we'd be able to do this for them and it would speed things up

If not, that should be all, it is a relatively simple process to create a subdomain, but note that Step 1 and 2 are the same thing. Note the main issue here is the propagation time.

[2017-08-25 10:44] RobStallion commented on #49
Thanks @katyedwards. That looks good to me.

Just to be clear, they need to create the subdomain by putting an A record in the DNS configuration.

Once that's done, we can set up the SSL cert because the subdomain will exist. (could take up to 36 hours for the subdomain to propagate)

[2017-08-25 12:35] RobStallion commented on #32
![image](https://user-images.githubusercontent.com/15571853/29714258-45c2694a-899a-11e7-83ae-95e5863d70d8.png)

when running the site manually

[2017-08-25 12:44] RobStallion commented on #32
![image](https://user-images.githubusercontent.com/15571853/29714496-677b0b90-899b-11e7-88b4-a1ef61a93571.png)

@katyedwards Seems to be working now. The emails I received when into my spam so when you test it just be careful of that.

[2017-08-25 12:54] RobStallion commented on #33
![image](https://user-images.githubusercontent.com/15571853/29714836-be24bb48-899c-11e7-92a1-9a07ae598afd.png)

While running manually.

@MollieCourtenay can you check if you received my feedback email? Double check your spam if it's not in the inbox because my forgotten password emails were all in spam

[2017-08-25 12:59] RobStallion commented on #33
![image](https://user-images.githubusercontent.com/15571853/29715056-8f3db9e6-899d-11e7-9759-433ca4d153f7.png)

Sent from deployed site

[2017-08-25 13:07] RobStallion commented on #33
![image](https://user-images.githubusercontent.com/15571853/29715286-94e79dd4-899e-11e7-86d2-0bc4e129bc06.png)

@MollieCourtenay could you also check to see if you received the this email please? If you did then this issue can be closed.

[2017-08-25 13:17] MollieCourtenay commented on #33
Ive got two emails  - they were in spam.

@RobStallion

[2017-08-25 13:19] RobStallion commented on #33
@MollieCourtenay did you get the one with the subject line saying testing with 2 emails?

[2017-08-25 13:20] MollieCourtenay commented on #33
<img width="832" alt="screen shot 2017-08-25 at 14 20 07" src="https://user-images.githubusercontent.com/25012688/29715747-85ce7b04-89a0-11e7-9166-7aa03d9ce0c7.png">
<img width="817" alt="screen shot 2017-08-25 at 14 20 03" src="https://user-images.githubusercontent.com/25012688/29715748-85d44296-89a0-11e7-8b05-ddde0a50c373.png">

[2017-08-25 13:21] MollieCourtenay commented on #33
@RobStallion  Only these ones ^^

[2017-08-25 13:22] RobStallion commented on #33
Ok. Thanks

[2017-08-25 13:31] katyedwards commented on #32
- [ ] Subject line  needs to say: Headscape Focus Reset Password Instructions

- [ ] The reset link needs to go to headscape focus not staging - you may not be able to do this before the subdomain is confirmed?

![screenshot 2017-08-25 14 28 16](https://user-images.githubusercontent.com/24604903/29716067-d8a0faa4-89a1-11e7-9c0e-43566c739312.png)

@RobStallion

[2017-08-25 13:36] katbow commented on #32
@RobStallion @katyedwards the email can be set up to link to the correct subdomain address, but you're correct that it won't actually be functioning until that's set up.

[2017-08-25 13:41] katyedwards commented on #32
@katbow can we test it if it goes to staging?  If not then it might as well be set up and wait.

[2017-08-25 13:49] RobStallion commented on #32
@katyedwards As @katbow I can't use the subdomain until it's set up as it wont work but it is currently redirecting to the correct url with the IP address. Going to push those changes up

[2017-08-25 13:57] katbow commented on #32
Do you mean if it goes to the staging.healthlocker.uk site? No, it wouldn't work for testing because it's separate databases, so the user being tested & relative reset tokens would not be present there.

[2017-08-29 08:04] katyedwards commented on #94
It's alive!  http://focus.headscapegreenwich.co.uk/

@RobStallion over to you to finish the last steps to get the SSL set up, although we need to get any HL bits finished first (by lunchtime!)

[2017-08-29 16:35] MollieCourtenay opened #152 "clear database before service goes live"
Clear live DB.
Can keep test DB as it is.

[2017-08-30 09:43] reddog commented on #125
@katyedwards Can you provide a little more information on what the block(s) and external dependency are on this issue?

[2017-08-30 09:48] reddog commented on #49
Site is now available at http://focus.headscapegreenwich.co.uk/  Since #94 deals with the SSL certificate, are we good to close this issue @katyedwards ?

[2017-08-30 09:55] katyedwards commented on #49
Yep all done!

[2017-08-30 09:55] #49 closed

[2017-08-30 09:57] katyedwards commented on #125
@reddog I don't think there is a blocker or ext dependency - I may have added those to the wrong issue, Friday was a bit manic at times with numerous windows open!  Sorry!

[2017-08-30 10:04] katyedwards commented on #4
- [ ] Update text to HeadScape with a capital S

[2017-08-30 10:12] reddog commented on #125
@katyedwards No problem - thanks for clarifying.

Are you able to do a test with Chrome's developer console open and paste a screenshot here?  That should help determine if it is the same bug as seen in https://github.com/healthlocker/healthlocker/issues/915  If it is the same, then it is an issue related to https://github.com/healthlocker/oxleas-adhd/issues/127

@RobStallion It is possible this c

[2017-08-30 10:18] katyedwards commented on #125
![screenshot 2017-08-30 11 18 37](https://user-images.githubusercontent.com/24604903/29867913-fce51f86-8d74-11e7-8abe-ef574d81c061.png)

[2017-08-30 10:24] katyedwards commented on #140
Done!

[2017-08-30 10:24] #140 closed

[2017-08-30 10:26] katyedwards commented on #15
Copy colour moved into #148 So good to close

[2017-08-30 10:26] #15 closed

[2017-08-30 10:27] katyedwards commented on #16
Ok to close

[2017-08-30 10:27] #16 closed

[2017-08-30 11:22] reddog commented on #125
@RobStallion The websocket HTTP 403 error appears to be the same as in https://github.com/healthlocker/healthlocker/issues/915 :

![image](https://user-images.githubusercontent.com/151362/29870066-a6f3e5b8-8d7d-11e7-8f96-95acc48015bf.png)

I'm not sure if the uncaught `ReferenceError: Testing is not defined` is related or a new error:

![image](https://user-images.githubusercontent.com/151362/2987

[2017-08-30 15:03] katyedwards commented on #146
th/st is done, thanks.  Moving the 0 into a new issue in for Sprint 2

[2017-08-30 15:03] #146 closed

[2017-08-30 15:05] katyedwards opened #153 "Seeing microseconds in tracker over 0 entry"
+ [x] fix to remove microseconds as per Healthlocker https://github.com/healthlocker/healthlocker/issues/830

[2017-08-30 15:11] katyedwards opened #154 "If Carer isn't linked to an SU, they vanish!"
Login as Superadmin
Add Carer
Fill in details of Carer, name, relationship, email, password
Get SU details wrong so go back to dashboard to check them

Where do I now find that carer again to connect them to the SU??

[2017-08-30 15:13] katyedwards commented on #59
Thanks - flash message now correct and save/locate buttons are right way round

[2017-08-30 15:13] #59 closed

[2017-08-30 15:14] katyedwards commented on #21
#59 now closed so this can be too!

[2017-08-30 15:14] #21 closed

[2017-08-30 15:16] katyedwards commented on #32
Done, thanks!

[2017-08-30 15:16] #32 closed

[2017-08-30 15:21] katyedwards opened #155 "Reset Password Link - to subdomain address, not IP address"
- [x] Update the reset password link so it contains the subdomain and takes you to the subdomain address.

Currently: http://**51.140.117.78**/password/hS8Di01CwBQ50fycH0OsSPZr7NsezKnLxlkzv2d7hlkiCGdY/edit

Should be:
http://**focus.headscapegreenwich.co.uk**/password/hS8Di01CwBQ50fycH0OsSPZr7NsezKnLxlkzv2d7hlkiCGdY/edit   (or something like that, but a string that will work!)

Being taken to http

[2017-08-30 15:26] katyedwards commented on #116
Closing this as messages not submitting has been moved into a new issue.  Everything else seems to work fine.

[2017-08-30 15:26] #116 closed

[2017-08-30 15:30] katyedwards commented on #108
@reddog as you commented last, I'll ask you... can this one be closed now?

[2017-08-30 15:33] katyedwards commented on #36
Great, thanks Cleo.

[2017-08-30 15:33] #36 closed

[2017-08-30 15:37] katyedwards commented on #130
@katbow As #32 and #33 have been done - can this issue be closed?  (just waiting for Oxleas to confirm they have received the feedback email, then will close that).

[2017-08-30 15:59] katbow commented on #130
Yep if you have confirmation from them that they received the email then it can be closed

[2017-08-30 16:01] katyedwards commented on #130
Ok thanks - I'll wait til they have confirmed then will close both.

[2017-08-31 00:19] reddog commented on #155
Will need to use `https` for the link once #94 is complete.

[2017-09-01 14:33] MollieCourtenay opened #156 "Add add clinician view of goals enhancements to Oxleas from HL"

[2017-09-01 16:00] #95 closed

[2017-09-01 16:03] MollieCourtenay opened #157 "Remove vertical black line in Clin view of goals and coping strats"
+ [ ] remove line

[2017-09-01 16:03] MollieCourtenay opened #158 "set up Google Analytics"

[2017-09-01 16:06] MollieCourtenay opened #159 "feedback emails should come to mollie too"

[2017-09-01 16:06] MollieCourtenay opened #160 "typo in coping strategies and to an"
https://github.com/healthlocker/oxleas-adhd/commit/52b762e26e8e642ee70dd2c5d7d185ffe0af0932

[2017-09-01 16:08] MollieCourtenay opened #161 "remove the duplicated tip"
+ [ ] remove one.
<img width="244" alt="screen shot 2017-09-01 at 17 07 58" src="https://user-images.githubusercontent.com/25012688/29978222-25396144-8f38-11e7-8432-1d7459cbebe2.png">

[2017-09-01 16:13] #159 closed

[2017-09-01 16:16] #33 closed

[2017-09-01 16:21] MollieCourtenay opened #162 "Add in capital S into Headscape througout"

[2017-09-01 16:22] MollieCourtenay opened #163 "Super Admin User - edit the email of the Service User account"
## Acceptance Criteria:

- [x] As a Super Admin I can log into the portal, view a Service User and see their email address is in a free text box.

- [x] As a Super Admin I can change the email address in the free text box and click save to update the email address in the database.

- [x] This will change the email address a user must use to login

[2017-09-01 16:33] MollieCourtenay commented on #4
![headscape logo and halo_capital s-01](https://user-images.githubusercontent.com/25012688/29979026-a53e1ee0-8f3b-11e7-8e19-8706c3d50c30.png)
 +[ ] replace with this logo with a capital S

[2017-09-04 09:40] reddog opened #164 "Oxleas HL website down - just get the nginx welcome page"
Visit http://focus.headscapegreenwich.co.uk/

All that is shown is the nginx welcome page:

Issue reported by a member of the Oxleas team whilst they were trying to undertake some testing.

![image](https://user-images.githubusercontent.com/151362/30020852-4977f2a6-915d-11e7-9323-f7fb4cbf4a67.png)

Can the site please be brought back up?

Has the Oxleas site been taken down intentionally?  If so,

[2017-09-04 09:55] katyedwards commented on #130
Have received confirmation!

[2017-09-04 09:55] #130 closed

[2017-09-04 11:57] RobStallion commented on #94
Hey @katyedwards Thanks for getting back to us with this. I can see that it works which is great but I just had a couple of questions.

As there are 2 servers I was wondering if they were going to get a url for each? At the moment the `Oxleas-HL-Test` server is the one that is pointing to the url http://focus.headscapegreenwich.co.uk/. The reason I ask is because I was under the impression that `O

[2017-09-04 12:00] RobStallion commented on #164
@reddog Sorry about that. I took the site down. I was checking the nginx settings on the server over the weekend. I can put it back up for you in a few minutes. I didn't realise that there was going to be testing today so again, sorry about that. Hope it hasn't caused too much inconvenience.

I made a comment [here](https://github.com/healthlocker/oxleas-adhd/issues/94#issuecomment-326944684) whic

[2017-09-04 12:06] RobStallion commented on #164
Site is now back up

![image](https://user-images.githubusercontent.com/15571853/30025760-d9c8f5da-9171-11e7-9433-935e0fcc9db3.png)

[2017-09-04 12:11] katyedwards commented on #94
@RobStallion Thanks - I had asked about that in an email... are we currently using the test server only?

We do want that URL pointing to whichever server will be used as the live one.

Presumably it would be useful to get Oxleas to create another subdomain like staging.focus.headscapegreenwich.co.uk or something to use on the test server.

Could this then be covered by the same SSL certificate?

[2017-09-04 12:27] katyedwards commented on #161
Sorry that'll need @RobStallion - we can't edit tips, only stories

[2017-09-04 12:29] reddog commented on #164
@RobStallion Thanks for putting the site back up, and thanks for your investigations on nginx setup - were you able to find what you required?

I don't think that anyone here thought that the site would be down.  I think that's really where the issue comes from.

If you do need to take the site down could you maybe raise an issue so that we can all see what's happening?  And then put the site back

[2017-09-04 12:35] reddog commented on #94
@RobStallion I'm not sure exactly what the question is here.  Was the FQDN of `focus.headscapegreenwich.co.uk` matched to `Oxleas-HL-Test` by ourselves?

At the moment both environments should be at the same setup and code point, shouldn't they?  Is that the case?

Where are the labels `Oxleas-HLLive` and `Oxleas-HL-Test` set?

Whatever the live site is, namely `focus.headscapegreenwhich.co.uk` it

[2017-09-04 16:20] RobStallion commented on #94
@reddog SLaM provisioned two different Azure instances for Oxleas, one called `Oxleas-HLLive` and another called `Oxleas-HL-Test`.
![image](https://user-images.githubusercontent.com/15571853/30033054-d6fed5b2-9190-11e7-89a6-c05a0f4b7767.png)
![image](https://user-images.githubusercontent.com/15571853/30033065-e34fba3e-9190-11e7-887c-94aad9e8fc64.png)

They are two different servers, each with thei

[2017-09-04 16:41] RobStallion commented on #94
@katyedwards I don't see an email from you sorry. Could you please try sending it again to my dwyl email.

I don't know if the test site really needs a sub-domain as it would mainly be for us, dwyl and mindwave, to check new features and bug test before pushing the changes to the live site. As no real data would be entered on the test site, I would imagine that it would not need to be encrypted so

[2017-09-04 16:43] reddog commented on #94
@RobStallion Would it be good to have the test and live sites as close to each other as possible in terms of configuration?  That would help ensure we were developing/testing with the correct set up already in place, and should help ensure we don't have some types of unexpected issue when moving live?

[2017-09-04 16:45] reddog commented on #94
@RobStallion Regarding the live FQDN being pointed to the `test` site, this is quite possibly down to me - I may have given Oxleas the wrong IP address.  I'll see what we can do.

How easy/difficult is it to switch the labels for the machines over `Oxleas-HL-Test` <-> `Oxleas-HLLive`?

[2017-09-04 16:46] RobStallion commented on #94
@reddog Sorry again but I am not certain as SLaM provisioned these servers for us and named them in the process.

[2017-09-04 17:15] reddog commented on #94
@RobStallion Okay, thanks for that.

[2017-09-05 08:38] katyedwards commented on #94
@RobStallion sorry - that was a bit unclear from me - I'd mentioned in an email (to Ines I think) that I wasn't sure which environment we were using for Oxleas but it has been clarified here already, thanks!

[2017-09-05 09:44] reddog commented on #94
DNS changes have been made as follows:

`
 Name:	focus.headscapegreenwich.co.uk
 Address: 51.140.116.95

 Name:	test-focus.headscapegreenwich.co.uk
 Address: 51.140.117.78
`

It may take a little while for the `focus.headscapegreenwich.co.uk` DNS *change* to propagate.  The new entry, `test-focus` should be available immediately.

@RobStallion Can you please confirm my previous query if the two en

[2017-09-05 09:58] reddog commented on #125
@RobStallion Thanks for providing a time estimate.  Can you please note what the issue is and what steps are required, breaking anything down that's larger than two hours.

[2017-09-05 09:58] reddog commented on #94
@RobStallion Can you please note what steps are required to complete this issue, breaking anything down that's larger than two hours.

[2017-09-05 10:52] katyedwards commented on #114
Have hopefully done this... awaiting review.

[2017-09-05 10:58] reddog opened #168 "Bring live site up to same configuration as test site"
Live site is at http://focus.headscapegreenwich.co.uk/ with IP address `51.140.116.95`

Test site is at http://test-focus.headscapegreenwich.co.uk/ with IP address `51.140.117.78`

From a user's perspective, the *live site* is currently showing the nginx welcome message:

![image](https://user-images.githubusercontent.com/151362/30058028-1c9ffcf4-9231-11e7-80c8-9c38fb2ca9df.png)

The *test site* i

[2017-09-05 11:00] reddog commented on #168
Requires previous completion of:

https://github.com/healthlocker/oxleas-adhd/issues/94
https://github.com/healthlocker/oxleas-adhd/issues/125

[2017-09-05 11:30] reddog commented on #94
@RobStallion re your comment at https://github.com/healthlocker/oxleas-adhd/issues/94#issuecomment-324696175 :

That readme looks great for a Heroku installation.  Since we're on an Azure Linux VM, there are really clear steps listed on the `certbot` site, see https://certbot.eff.org/

[2017-09-05 11:42] katyedwards opened #176 "Update to HeadScape with Capital S - Flash Messages"
![screenshot 2017-09-05 12 29 58](https://user-images.githubusercontent.com/24604903/30059208-0fb50dd6-9236-11e7-8ad3-01558541b299.png)

Should read:

Welcome to HeadScape Focus!

When you login:
- [x] SU
- [x] Carer

[2017-09-05 11:44] katyedwards commented on #162
Have done all those I can find apart from the flash message SUs and Carers get when they login - raised new issue for that in backlog #176

[2017-09-05 14:21] katyedwards commented on #141
Have had a stab at this too.

[2017-09-05 14:31] katyedwards commented on #120
Links to #154

[2017-09-05 15:28] katyedwards opened #178 "Within Admin system: add new Teacher/ Other Professional"
As an Oxleas team member I want to be able to add a new Teacher/ Other Professional to the system (as a 4th user type) so that I can connect them to a SU.

# Acceptance Criteria

+ [x] add a new button to the Admin dashboard '2. Add Teacher'
+ [x] To add a new Teacher/ OP, I will have to enter their First Name, Last Name, School / Organisation, Job Role / Title, Email and Password.
+ [x] display T

[2017-09-05 23:34] RobStallion commented on #94
@reddog Thanks for looking into this. I have seen the documentation on their site but I will be looking at the readme produced by @nelsonic first as it contains steps for what he has done when he ran into issues. Also although the readme was written for Heroku, step 4 to 7 should be able to be applied to the Azure VM.

[2017-09-05 23:43] RobStallion commented on #125
I think that this issue is going to be a very similar to [hl #915](https://github.com/healthlocker/healthlocker/issues/915) as pointed out by yourself and @katyedwards. To try and resolve this I am going to follow the steps taken by @nelsonic when he submitted [hl pr #936](https://github.com/healthlocker/healthlocker/pull/936).

This will mean updating the `nginx` config on the server which may ha

[2017-09-06 07:27] reddog commented on #94
@RobStallion Thanks for that.

The first line on step 4 of Nelson's doc does suggest going direct:

In Nelson's doc installation of certbot is via brew. I'm not sure that is immediately available on Ubuntu?

Further along there are notes on satisfying certbot's requirement for a verification page to be made available. The instructions there won't immediately work but the EFF certbot document gives

[2017-09-06 07:40] reddog commented on #125
@RobStallion Thanks for that.

Are you referring to the nginx config change that @nelsonic referenced here: https://github.com/healthlocker/healthlocker/issues/841#issuecomment-316759183

It looks like this might also be solved by a change to the Phoenix configuration, see https://github.com/healthlocker/healthlocker/issues/841#issuecomment-316769461

If it is fixable in the Phoenix configuration

[2017-09-06 07:51] reddog commented on #94
Will this specific issue also be implementing force HTTPS only access, ie redirect all HTTP requests to HTTPS?

[2017-09-06 07:58] MollieCourtenay opened #179 "Within Admin: assign Teachers to service users (same as clinicians)"
+ [x] as a super admin, if i have already added a Teacher, I can assign them to a service user.
____
Can split this up to make two issues as this second task can be a lower priority.
+ [x] if a teacher has already been assigned then, when I click to edit the service user, that teacher(s) are already ticked, and I can edit the connections.

Please see #24 and see if this can be fixed for assigning

[2017-09-06 07:59] MollieCourtenay opened #180 "Teacher: caseload"
For epic #188

+ [x] As a teacher, when I log in to HeadScape Focus, I am redirected straight to my caseload.
+ [x] my flash message says 'Logged in as teacher'
+ [x] I can see my caseload of service users I am connected to (do not display carers or care team in caseload).

<img width="343" alt="screen shot 2017-09-11 at 15 13 17" src="https://user-images.githubusercontent.com/25012688/30278982-c6

[2017-09-06 08:04] reddog opened #181 "Complete time estimating and issue breakdown on Sprint 2 tasks"
Complete time estimating and issue breakdown for tasks in Sprint 2 milestone.

https://github.com/healthlocker/oxleas-adhd/milestone/3

[2017-09-06 08:09] MollieCourtenay opened #182 "Service user can choose what tracking / goals and strategies to share with Teachers."
As a service user, I can choose whether or not to share my tracking / goals and strategies with Teachers that I am connected to.

**Please estimate all three options (add more if you see them):**
+ [ ] editing sharing choice per post (at an individual tracking / dairy post/ individual goal/ coping strategy level)
+ [ ] one-off but editable sharing choice per feature (I choose to share goals, but n

[2017-09-06 08:13] MollieCourtenay opened #183 "Teacher: Messages - to a SU's Care team"
As a teacher I can share updates on the Service users progress from my point of view with the Care team.
For epic #188

+ [x] As a teacher when I click on a service user in my caseload, messages loads, in the room that is created, I can ONLY send messages to the service users care team (NOT Carer or Service user).
+ [x] Add a line (just like carer's) Send a message to Service User's care team.
+ [

[2017-09-06 08:18] MollieCourtenay opened #184 "Teacher and Care Team can write diary entries on a Service User record."
Teachers and Care Team members can make diary entries on a Service User record.
Are these diary entries visible to the service user? / Carer?
Why is this useful over messaging?
How will this be used by clinicians and teachers?

[2017-09-06 08:21] MollieCourtenay opened #185 "Teachers can access a separate resources page"
- What content is in here?
- Can ONLY teachers see this?
- How does content get there?
- is this on HL or a link out like you have already done for coping strategies resources?

[2017-09-06 08:51] RobStallion commented on #94
@reddog Regarding your comment [here](https://github.com/healthlocker/oxleas-adhd/issues/94#issuecomment-327399063) I feel confident implementing the README for the Azure environment so I will be starting there.

With regards to your [comment here](https://github.com/healthlocker/oxleas-adhd/issues/94#issuecomment-327404465) this is done in the `nginx` configuration file on [these lines](https://g

[2017-09-06 09:08] katyedwards commented on #152
Deployment to live environment will just be the code so the DB will be clear - so no need for additional action.

[2017-09-06 09:08] #152 closed

[2017-09-06 09:09] katyedwards commented on #161
Database will be clear when it deploys to live - can we live with a duplicated tip remaining on the test site?
@MollieCourtenay

[2017-09-06 09:10] katyedwards opened #186 "Re-Add Tips to the Live Site"
Live database will be empty - need to resubmit all tips

[2017-09-06 09:12] katyedwards opened #187 "Deploy to Live Environment"
@RobStallion to add other steps, but just adding the note below so it isn't forgotten!

- [x] Deploy application to server using edeliver
- [x] Start application using edeliver
- [x] Ensure all environment variables needed for application to run are in the `.profile`
  - [x] generate secret_key_base
- [x] Create database and then tables that will be used in the db
- [x] Set up Super User with same

[2017-09-06 09:12] RobStallion commented on #125
@reddog Thanks for pointing that out. I will try this solution first and will update the issue with how it went.

To expand on what I said [here](https://github.com/healthlocker/oxleas-adhd/issues/125#issuecomment-327333652) regarding time estimate for this issue. As we discussed in person, this issue could be as quick as `T1h` if the solution @nelsonic used when he originally fixed this issue in

[2017-09-06 09:22] RobStallion commented on #94
Following on from step 4 of [README](https://github.com/dwyl/learn-heroku/blob/master/SSL-certificate-step-by-step-setup-instructions.md#step-4-run-certbot-command-manual-setup)

Have installed certbot on the test server
![image](https://user-images.githubusercontent.com/15571853/30104347-44f80b3a-92ed-11e7-87e5-4af148dfe536.png)

[2017-09-06 09:29] RobStallion commented on #94
I am going to be deploying my own repo to the Azure server in order to try and generate the SSL certificate.

The reasons for this are..

I want to be able to quickly add/update files and folders that will be needed when generating the certificate without having to wait for them to be reviewed.

To keep the oxleas repo clean and try to keep unnecessary commits and unused files to a minimum (also s

[2017-09-06 09:44] katyedwards opened #188 "Teachers see Dashboard of individual SU"
As a Teacher I can

- [ ] Click on an individual SU in my caseload to see more information

- [ ] Send messages to a SU?

- [ ] View their tracking, diary, goals, strategies - if shared see #182

- [ ] View their details & contacts page  (Not Meds?)

[2017-09-06 09:58] RobStallion commented on #94
That appears to have worked but I haven't taken the screen shot 😥 (My connection to the ssh froze but the files are now created)

![image](https://user-images.githubusercontent.com/15571853/30106079-4e873e28-92f2-11e7-8d65-e0e75c8e8e13.png)

[2017-09-06 10:38] RobStallion commented on #94
Moving on to `nginx` config on the server.

My first step will be to follow along with `HL issue #841` from [here](https://github.com/healthlocker/healthlocker/issues/841#issuecomment-311647384).

Reason I am following along from this point is because `nginx`is currently running but not being used when the firewall rules are redirecting all incoming traffic to port 4000.

[2017-09-06 12:38] RobStallion commented on #94
I have removed the firewall setting from the server with the following command
[code]

and then added the following line to the `nginx` config file found at `/etc/nginx/sites-enabled/default`

`proxy_pass http://localhost:4000;`

Added that line to the `location / {` options.

When the app isn't running this is the result
![image](https://user-images.githubusercontent.com/15571853/30112081-fa57e02

[2017-09-06 13:12] katbow commented on #188
@katyedwards I am going to change this to an epic & break out each section. Some of them (i.e. messaging and the changes to tracking would be a T1d+. I'll link each issue in here after they are made.

[2017-09-06 13:18] RobStallion commented on #94
I keep getting `nginx` errors when I am using the settings from the `HL nginx` config.

Going through line by line to see what is causing the issue and why

[2017-09-06 13:19] katbow commented on #185
@MollieCourtenay @katyedwards  is this a page that teachers view or one they add to? I think I understand it as I would need to build a static page containing links, and teachers only can access this page to view the links. Is that correct?

[2017-09-06 13:21] katyedwards commented on #185
That is my understanding.  Like get support - a static page of info and links, but only viewable by teachers.

[2017-09-06 13:27] katbow commented on #183
@MollieCourtenay I think I need to know more about the UI for this to estimate better. I'm not sure what the user flow is for teachers, especially when accessing the care team.

Since a teacher would be able to be connected with multiple users' care teams, the care team link would not work in the same way (this just links to a single care team for service users/carers). Would the care team for eac

[2017-09-06 13:31] katbow commented on #180
I realised after seeing #183 this may require slightly more thought, depending on how a teacher accesses care team.

Also, how do carers factor into this? They weren't mentioned as teachers being able to message them in that issue, so should this be replaced with care team? Does a teacher need to only see the carers for a service user, or do they need to be able to interact with them in some way,

[2017-09-06 13:31] katyedwards commented on #183
I've asked for some more info on what they are expecting here.  Will update as soon as I can

[2017-09-06 13:33] katyedwards commented on #180
Yeah, not sure - will update both issues when I've heard back...

[2017-09-06 13:34] katbow commented on #183
thanks @katyedwards. Related is #180. Need to know in general how a teacher views each of these 3 user types (care team, carer, service user), and how they interact with each one.

[2017-09-06 13:48] katyedwards commented on #183
Will just be messaging between the teacher and the care team - same as carer's have.

To replace emails which go back and forth at the moment.

[2017-09-06 13:55] katyedwards commented on #180
Messaging is just between Teacher and care team (like carers at the moment).

I assume the simplest way to implement this UI wise would be:
**Clinician View** - teacher appears in the caseload similar to carers but a different colour - click on a teacher and it looks like the carer interface where the care team just view a message tab and a basic details tab (downside is you might have the same te

[2017-09-06 13:56] RobStallion commented on #94
Config appears to be working and using the SSL certificate now.

![image](https://user-images.githubusercontent.com/15571853/30115633-392e8808-9313-11e7-80ee-7d99038f610b.png)

If I type in the IP address for the server as shown in the picture above, I get the following...

![image](https://user-images.githubusercontent.com/15571853/30115689-63d13c40-9313-11e7-8318-f1a4525b263d.png)

Next step is

[2017-09-06 14:03] katbow commented on #184
Does this mean editing/adding a diary entry for a service user? So if a service user went to their diaries in tracking, would it show notes made by the teacher there?

Would this be accessed through details & contacts section?

[2017-09-06 14:07] katbow commented on #163
Note on this and related to #179. Since there would now be multiple things to access/edit in relation to a service user, it may be useful to display a menu/icons when clicking on a service user. One each for Edit Teachers, Edit Clinicians, Edit Service User Details.

[2017-09-06 14:08] katbow commented on #179
see comment here for note on this issue https://github.com/healthlocker/oxleas-adhd/issues/163#issuecomment-327494531

[2017-09-06 14:08] katbow commented on #148
blocker is for adding time estimates until there's more detail.

[2017-09-06 14:11] RobStallion commented on #94
![image](https://user-images.githubusercontent.com/15571853/30116519-ac5ff7b0-9315-11e7-8617-650787704202.png)

[2017-09-06 14:12] katbow commented on #163
Estimate is for creating the edit form & saving the edited information, UI for accessing this section is not included yet in estimate.

[2017-09-06 14:13] katyedwards commented on #94
Lovely job!

[2017-09-06 14:13] #94 closed

[2017-09-06 14:16] katyedwards commented on #125
Tested for clin, SU and Carer - all good!

[2017-09-06 14:18] katyedwards commented on #184
Yes to SU view - they'll see it on their tracking overview along with entries they have made.

As for where teacher will access it - not sure, but I guess details and contacts makes sense - maybe change the name to Details and Diary or something.

[2017-09-06 14:20] RobStallion commented on #125
This issue was resolved with the same nginx fix that @nelsonic used in his [hl pr #936](https://github.com/healthlocker/healthlocker/pull/936). @reddog could you please say if this is ok or would you still like us to implement the fix you suggested [here](https://github.com/dwyl/learn-phoenix-framework/issues/99#issuecomment-316768858)

[2017-09-06 14:29] katbow commented on #182
Bit confused with this one. I understand the point that there should be a choice for what they want to share, but I'm confused on who they have an option to share with & the differences in some of these options.

Right now carers don't see any tracking/goals & strategies from the service user. Would this be updated to be more like clinician view of a service user, except with sharing preferences?

[2017-09-06 14:35] katbow commented on #180
Okay, I am adding a day label because that will still be a bit different from how it works currently. Right now the user id of the service user is just passed around for loading their room, looking at their details & meds, tracking, goals, etc. But in this case we will need to pass around that for the latter 3 items, but have the room reference the *teacher's* user id to load their own room with t

[2017-09-06 14:38] katyedwards commented on #182
Sorry, I think I was trying to make that clearer but failed!

Have  re-written above... is that better?! @katbow

[2017-09-06 14:42] katbow opened #189 "Teacher: Details & Meds section"
For epic #188
As a teacher, looking at a service users Details & Meds section, I can see:

+ [x] Teachers can see but NOT EDIT, Medication.
+ [x] Teachers CANNOT see About me.
+ [x] Teachers can see contact info of the SU. (same as Care team view, DOB, email, phone no)

<img width="241" alt="screen shot 2017-09-11 at 15 36 30" src="https://user-images.githubusercontent.com/25012688/30280311-5819cc

[2017-09-06 15:19] katyedwards commented on #189
@katbow we want to keep it as simple as possible so I would propose it'll be the same as Clinicians, and for both Clinicians and Teachers there would be a 3rd icon for diary where they can both contribute diary entries.

Not sure how the UI for that would work, but that seems like the simplest thing to me.

@MollieCourtenay?

[2017-09-06 15:33] katbow commented on #182
For each of these, I think the extra time with doing this for a carer would come from changing how the care team section loads/displays.  Adds an extra 1.5 days to each one for changing the carer display to show these sections, as they are not present at all.

**T3d**
T1d = setting up new fields in relevant tables & adding to each form.
T1d = Display in tracking for each section. Need to add claus

[2017-09-06 15:35] katbow commented on #182
@katyedwards Sorry if that's a bit blabby - was throwing out some ideas/options.

[2017-09-06 15:40] katyedwards commented on #182
Lovely thanks, that's really helpful @katbow

[2017-09-06 15:57] RobStallion commented on #168
Steps to complete

- Install software needed to run app (T1h)
  - [x] nginx
  - [ ] node
  - [ ] erlang
  - [ ] elixir
  - [ ] postgres
  - [ ] hex
  - [ ] phoenix

- [ ] Create an SSL certificate (T2h)

- [ ] Update nginx config (T1h) (cannot be completed until steps above are done)

[2017-09-06 16:36] iteles opened #191 "Deployment and SSL documentation"
As  a future developer on the Healthlocker project
I would like to have full documentation that I can replicate to cover the steps taken to achieve #94 and #125
So that I can benefit from the knowledge of developers past and not have to research the process again myself.

Currently, pretty much _all_ of this is captured across a number of issues which were followed to achieve #94 and #125, we need

[2017-09-06 16:37] iteles opened #192 "Review of copy update PRs"
There are currently 11 open copy PRs in this repository which will need to be reviewed. Given the time sensitivities of our current sprint, we are capturing this as an issue so that the time can be accounted for.

2 of them are also failing CI and may need some additional TLC.

<img width="349" alt="screen shot 2017-09-06 at 17 17 50" src="https://user-images.githubusercontent.com/4185328/30123478

[2017-09-06 17:14] MollieCourtenay commented on #148
The medication info feature and super admin has a different colour blue font to the dark blue used on Healthlocker.

[2017-09-07 08:03] reddog commented on #125
@RobStallion Thanks very much for fixing this up.

As we discussed, I think part of the reason that this issue reoccurred after it was first fixed was that the nginx config was (able to be?) re-used for the previous repo.

Can you please give a little detail (a line or two) on how we are, or how we could, prevent this from happening again, ie how can the nginx config be (automatically?) used in a

[2017-09-07 08:23] reddog commented on #192
PR #170 looks fine in terms of changes in the included commit.  Travis CI build failed due to database access error.  I've added a comment to the PR - is this a sign of a potentially wider (database connectivity) issue or just something that can be re-tested?  See https://github.com/healthlocker/oxleas-adhd/pull/170#issuecomment-327727203

[2017-09-07 08:26] reddog commented on #187
@RobStallion Can you please add a time estimate for this issue.

[2017-09-07 08:26] reddog commented on #181
@RobStallion Can you please add a time estimate for this issue.

[2017-09-07 08:57] iteles commented on #125
@reddog This is to be covered in #191

[2017-09-07 09:02] reddog commented on #125
@iteles #191 is titled "documentation" - wasn't sure if that covered scripts being available, etc?  I don't know if this issues occurred due to a lack of previous documentation or something missing/not in the repo, etc

[2017-09-07 09:14] reddog opened #193 "Configure Let's Encrypt to auto-renew SSL certificate"
Users need to be able to continue to access a secure site with valid SSL certificate at all times.

**Is certbot (Let's Encrypt agent) configured to auto-renew SSL certificates?**

Let's Encrypt certificates expire after 90 days.  Once a website certificate expires, accessing that site will present a browser message strongly worded such that the user should not continue using the site.

certbot co

[2017-09-07 09:37] reddog commented on #168
@RobStallion I have created a new issue #193 to ensure that SSL certificates are set to auto-renew (otherwise we will effectively loose access after 90 days).

I am not sure if you would want to complete this on test first before implementing on the live site?

Please do let me know if you'd like any further information on this configuration.

[2017-09-07 10:31] RobStallion commented on #168
@reddog could you please add this as a new comment next time rather than edit an existing comment if you have a question

- [ ] Setup auto-renewing SSL certificates, see #193 (time ??)

[2017-09-07 10:33] reddog commented on #168
@RobStallion Sure - I added it to the list so that it could be seen it was a step (for now and for referencing back) and I also made a separate comment.  Sorry if I didn't explicitly reference the change to the list in my separate comment.

[2017-09-07 10:49] RobStallion commented on #168
Currently having an issue with the following step
`get test app running on server using edeliver`

The app is on the server and can be run if I do it manually by `ssh`ing into the server, `cd`ing to `/home/oxleasadmin/azure_deployment_test/builds` and running the `mix phoenix.srever` command.

![image](https://user-images.githubusercontent.com/15571853/30159870-0cd682d8-93c2-11e7-906a-5701423766cf

[2017-09-07 11:05] RobStallion commented on #168
Have not found any errors that point to what this could be yet. Only differences between running the app with `mix edeliver start production` and doing it manually by going into the server is that the `mix` command runs the app in `prod` mode.

Next steps
Check the differences between `prod.exs` and `dev.exs`
Make sure all environment variables are entered and correct

[2017-09-07 11:13] RobStallion commented on #168
`PORT` was missing from the environment variables. Working now...

![image](https://user-images.githubusercontent.com/15571853/30160802-f31a175c-93c5-11e7-889c-243ed0097cf2.png)

![image](https://user-images.githubusercontent.com/15571853/30160811-03ab3880-93c6-11e7-86e7-069994b48d63.png)

[2017-09-07 11:17] iteles commented on #188
Added those to the wrong issues, apologies!

[2017-09-07 11:29] iteles commented on #30
For Sprint 3, this was moved to be a higher priority than #17 (which this issue originally built on)
<img width="814" alt="screen shot 2017-09-07 at 12 28 47" src="https://user-images.githubusercontent.com/4185328/30161385-241b213c-93c8-11e7-8c96-2a7c183c6975.png">

So for the avoidance of doubt, I am switching the time estimates around on these so that #17 now builds on _this_ issue.

[2017-09-07 11:31] iteles commented on #17
For Sprint 3, this was moved to be a lower priority than #86 (which originally built on _this_ issue).
<img width="814" alt="screen shot 2017-09-07 at 12 28 47" src="https://user-images.githubusercontent.com/4185328/30161425-5e4ecb42-93c8-11e7-892b-d25df798c3ae.png">

So for the avoidance of doubt, I am switching the time estimates around on these so this issue now builds on #86.

[2017-09-07 11:41] reddog commented on #168
@RobStallion Good spot with the missing `port` setting.

I think we've seen this before.  Is there a way we can fix this from happening again?

It would also be good to note that the `START DONE!` message is a little (very?) misleading as it hasn't actually started unless there is an `ok` showing before that.  We've seen this before as well.

[2017-09-07 12:04] reddog commented on #187
@RobStallion Thanks for the time estimate.

The issue, as it currently stands just has a single `set up Super User` task.  Is this going to take 4 hours or are there other steps to complete?  If so, can you please list them?

[2017-09-07 12:14] katyedwards commented on #187
@reddog the superuser task was added by me so it wasn't forgotten.  None of the other steps for deployment have been added yet.

[2017-09-07 12:14] reddog commented on #187
@RobStallion Following on from @katyedwards' comment, could you add the other tasks for this issue?

[2017-09-07 12:23] RobStallion commented on #168
@reddog @katyedwards I am in the process of getting the certificate for the live server but I need to enter an email address ...
![image](https://user-images.githubusercontent.com/15571853/30163125-b1108b2a-93cf-11e7-9dc3-58528894ca76.png)

Which email would you like me to use for this? Feel free to send me this over slack if you prefer

[2017-09-07 12:26] katyedwards commented on #168
I would think it should be the Oxleas one - will slack you...

[2017-09-07 12:51] reddog commented on #168
@RobStallion #193 has been removed from the list of tasks for this issue (see https://github.com/healthlocker/oxleas-adhd/issues/168#issuecomment-327748143 ).  Will this be completed separately?

[2017-09-07 13:13] RobStallion commented on #168
@reddog #193 was not originally part of this issue and is not something that we discussed when were planning this mini sprint. During the stand up yesterday it was agreed that I would work on #168, #187 and #4 in that order and then after that look at @katyedwards PRs and add time estimates to the remaining issues.

If you want #193 to be completed then I can do that but it may impact other things

[2017-09-07 13:29] iteles commented on #193
@reddog This has been added to the top of the 'Sprint 2' milestone, though we are already half way through our mini sprint 2 and this requirement has not yet been discussed.

Following your logic from our stand up yesterday, given this is not going to be an issue for around 90 days, are we better off leaving this for sprint 3?
Let's discuss on the standup this afternoon.

[2017-09-07 13:30] reddog commented on #168
@RobStallion You are of course right - #193 has not been thought of before - it probably should have been, and hence I raised it as soon as I did.

Since this issue concerns provisioning a new instance (the live site), I have added in #193 here since it **will** be required within the next 90 days at least.

The fix for #193 is adding a cronjob item.  Of course it would be very useful to get your

[2017-09-07 13:34] reddog commented on #193
@iteles I think it has been moved a little and is no longer at the top of the list.

I hadn't checked previously if certbot auto-renewing had been configured.  Maybe it should have been safe to assume it was, maybe not?

You are right, it will not be *required* until about 90 days' time.  However there are two server setup tasks happening within this sprint.

Implementation of this issue is adding

[2017-09-07 13:38] reddog commented on #168
Visiting https://focus.headscapegreenwich.co.uk/ (live site) shows `Test phoenix application`

![image](https://user-images.githubusercontent.com/151362/30166091-2cfc6e2a-93da-11e7-8b8f-9d10602778b6.png)

Is the Oxleas HL app not supposed to display?

[2017-09-07 13:41] RobStallion commented on #168
This issue was for bringing the live site up to same configuration as test site. #187 is for the deployment

[2017-09-07 13:42] iteles commented on #168
@reddog That is covered in https://github.com/healthlocker/oxleas-adhd/issues/187, whereas this issue is around configuration.

[2017-09-07 13:42] iteles commented on #168
@RobStallion Snap 😉

[2017-09-07 13:42] reddog commented on #168
@RobStallion Thanks for clarifying that - I didn't have that distinction in my mind.

Would you be able to provide the steps required for #187?

[2017-09-07 13:43] reddog commented on #168
@iteles I think my wording wasn't clear - I will try harder next time

[2017-09-07 14:51] RobStallion commented on #187
When I started the application I got the following error...

![image](https://user-images.githubusercontent.com/15571853/30169465-6153a634-93e4-11e7-92b3-b5d4ec326511.png)

Believe that this is an error with the database on the server so going to start there.

[2017-09-07 14:56] RobStallion commented on #187
Resolved.

![image](https://user-images.githubusercontent.com/15571853/30169614-cff71da0-93e4-11e7-9e7d-3c3ecf0b4d09.png)

The database was not created during deployment. Had to `ssh` into server and run the commands
[code]

This created the database and the database tables

[2017-09-07 15:51] RobStallion commented on #191
What will be needed in this documentation:

- [ ] Instructions on how to deploy a basic phoenix application to Azure ([great readme here](https://github.com/dwyl/learn-phoenix-framework/blob/master/production-deployment.md) which will be linked to in order to avoid duplicating work)
- [ ] Steps 4, 5 & 6 from [this readme](https://github.com/dwyl/learn-heroku/blob/master/SSL-certificate-step-by-ste

[2017-09-07 15:55] RobStallion commented on #192
@reddog I have re-run the Travis CI build and it passed this time round without any changes having to be made. As all the tests prior to, following and on the rebuild of this passed I do not think that it is something that we need to worry about. It was probably a connection issue at the one moment in time that caused Travis to fail.

[2017-09-07 16:13] RobStallion commented on #157
@MollieCourtenay @katyedwards Could you please provide me with login details for one of the test clinicians you have been using where you have been getting this issue? Feel free to send them over in a slack message if you prefer.

[2017-09-07 17:07] iteles commented on #191
Discussed this with @reddog just after our standup today and the new requirement here is that we strip this documentation down to a more barebones version after much conversation.

The aim is that a developer with an Oxleas-specific repo and a SLaM-provision new Azure environment will have a set of clear steps needed to replicate #168 and #187.

These steps will be a series of step-by-step command

[2017-09-07 17:31] reddog commented on #157
Would a screenshot help?

@MollieCourtenay or @katyedwards Can you please provide a screenshot?  (not sure if Rob will still need login details thereafter?)

[2017-09-07 17:33] reddog commented on #158
@katyedwards Has a Google Analytics account been created for this?  Do we have a `tracking ID`?

Who is going to *own* the Google Analytics account?

[2017-09-07 18:45] SimonLab commented on #114
@katyedwards I've just merged your PR which add the new image, however you might need to test if it's properly loaded, you might need to update the url in the templage:
https://github.com/healthlocker/oxleas-adhd/blob/7952425eea19a1c8bdf31d642c10dbcbeeb5b7e1/apps/healthlocker/web/templates/layout/app.html.eex#L15

[2017-09-07 19:52] iteles commented on #192
Between @RobStallion 's review of #170 today and @SimonLab's review of the majority of the PRs tonight, we should be down to 1 hour time estimate on this to:
+ [ ] Review and help fix #177
+ [ ] Deploy this + #4 to TEST
+ [ ] Quick check of this on the TEST server

[2017-09-07 19:52] reddog commented on #141
Looks like @katyedwards' valiant attempt at a fix for this might have failed.

@RobStallion Can you please provide a time estimate?

[2017-09-08 07:20] MollieCourtenay commented on #157
@robstallion the vertical divider line is not an error.
It is just a preference of the Oxleas team not to have it as part of the styling on that page as SLaM do.

[2017-09-08 07:23] MollieCourtenay commented on #157
![img_2791](https://user-images.githubusercontent.com/25012688/30200461-e8412574-946e-11e7-83da-9a3b6bee899f.PNG)

[2017-09-08 07:28] MollieCourtenay commented on #161
I guess so yes. @katyedwards
I'd prefer to get rid of it at some point though as it was noticed by client.

[2017-09-08 07:29] katyedwards commented on #168
Seems ok to me!

[2017-09-08 07:29] #168 closed

[2017-09-08 07:30] katyedwards commented on #187
Seems ok to me!

[2017-09-08 07:30] #187 closed

[2017-09-08 08:32] reddog commented on #158
@MollieCourtenay Would I be right in saying that this is with you at the moment?

[2017-09-08 09:10] katyedwards commented on #125
FYI, messaging is working fine on the live site, thanks @RobStallion

[2017-09-08 09:22] RobStallion commented on #157
Ahh sorry that way my misunderstanding. Thanks for clearing that up for me @MollieCourtenay 👍

[2017-09-08 09:25] MollieCourtenay commented on #158
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106165229-1', 'auto');
  ga('send', 'pagevie

[2017-09-08 09:31] #186 closed

[2017-09-08 09:42] MollieCourtenay opened #194 "Auto log out after 15 minutes"
As any type of user, if I have been inactive for 15 mins then I am logged out.

[2017-09-08 09:46] MollieCourtenay opened #195 "Caseload view: who has a new, unread message"
As a clinician,
When I access my caseload, I can visually see who has got an unread message.

Questions:
*unread by who?
*un-seen or unread?
*does it notify everyone in the care team?
*once someone has read it, is it marked read for everyone else, or does everyone have to read it?

[2017-09-08 09:47] reddog commented on #158
@iteles Was there a problem with that script?

[2017-09-08 09:52] RobStallion commented on #193
Have found the following command in [certbot documentation](https://certbot.eff.org/docs/using.html#renewing-certificates)

`certbot renew --pre-hook "service nginx stop" --post-hook "service nginx start"`

This command should stop nginx, renew the certificate (if it is going to expire within 30 days) and then restart nginx.

Look into `cron` to make this something that will happen automatically

[2017-09-08 09:59] iteles commented on #158
@reddog I think I had a brain block - wanted to remove just to have a think about whether there were any implications around others using the token to be on the safe side (I had just transferred to a google doc I was about to share), but having thought about it, there are no issues and it will be available in the code for reference anyway. 👍

[2017-09-08 10:03] reddog commented on #193
@RobStallion Thanks for your update.

I just wanted to check, is your estimate of 1 1/2 hours just for adding the cron job or are there other steps required?

[2017-09-08 10:06] #160 closed

[2017-09-08 10:18] MollieCourtenay commented on #139
Just noticed on: https://test-focus.headscapegreenwich.co.uk/tracking-overview
The sleep tracker data displays without Sleep and also has lost the space between hours and Woke up:
<img width="226" alt="screen shot 2017-09-08 at 11 16 39" src="https://user-images.githubusercontent.com/25012688/30207406-59155ee2-9487-11e7-9111-cc50d4b66844.png">

on staging.healthlocker the sleep tracker data displa

[2017-09-08 10:36] RobStallion commented on #4
![image](https://user-images.githubusercontent.com/15571853/30208124-00e3120c-948a-11e7-92bc-32f27400be3f.png)

[2017-09-08 10:52] iteles commented on #192
All copy PRs have now been merged in and deployed to TEST. The remaining part of this issue is captured in #141 which is lower priority, so closing this issue in favour of that one.

[2017-09-08 10:52] #192 closed

[2017-09-08 11:12] reddog commented on #161
@RobStallion Can we please confirm what is required for this change?  Is it just a database entry deletion or is something else required?  Would all such database deletions require 25 minutes?

[2017-09-08 11:15] #162 closed

[2017-09-08 11:25] MollieCourtenay opened #202 "TESTING AND FIXING"
QA on multiple devices and browsers

[2017-09-08 11:25] MollieCourtenay opened #203 "PLANNING"

[2017-09-08 11:38] #2 closed

[2017-09-08 11:38] #96 closed

[2017-09-08 13:08] MollieCourtenay commented on #157
@RobStallion no worries :)
 I've done it. @reddog showed me how.

[2017-09-08 13:51] katyedwards opened #204 "Add live links to messaging"
- [ ] If I type a link into the messaging, it recognises it as a link and creates a hyperlink

[2017-09-08 13:54] katyedwards opened #205 "Display Clinician Job Title"
I can see the Clinician's job title next to their name in:

- [ ] Service User - Care Team - contacts tab

- [ ] Carer - Care Team - contacts tab

- [ ] Clinician -

[2017-09-08 13:55] katyedwards opened #206 "Medications - Add multiple Meds"
As a Clinician I can add details of multiple medications incl dosage etc.

[2017-09-08 13:56] katyedwards opened #207 "Move Messages Link on Meds Page"
Move the message link from the bottom of the page to above the FAQs

## Move this:
![screenshot 2018-01-31 12 01 26](https://user-images.githubusercontent.com/24604903/35622132-ac0ca40c-067e-11e8-8377-22c1d76c1438.png)

## To here:
![screenshot 2018-01-31 12 01 35](https://user-images.githubusercontent.com/24604903/35622137-b0301c3a-067e-11e8-9884-2705c11757c6.png)

[2017-09-08 13:59] katyedwards commented on #30
? Add allergies prompt to About me Page - @MollieCourtenay

[2017-09-08 14:00] katyedwards commented on #17
? Add allergies prompt to About me Page - @MollieCourtenay

[2017-09-08 14:02] MollieCourtenay opened #208 "stories - add a note about writing one"

[2017-09-08 14:03] MollieCourtenay opened #209 "super admin - link back to admin page"

[2017-09-08 14:04] katyedwards commented on #208
Text:

Over time, the team would like to build up some stories about how young people and their families are living with ADHD.

If you would like to share your story, please get in touch with us.

[2017-09-08 14:30] MollieCourtenay commented on #182
not to share default.

[2017-09-08 14:31] MollieCourtenay commented on #182
change mind.
change mind to no more sharing - remove all.
change mind, to yes - only share from then on.

[2017-09-08 15:05] reddog commented on #191
@RobStallion Thanks very much for working on the documentation.

Are there any details on provisioning the database and setting up the initial super user, as per

in #187?  There's also a reference to:

Is that covered?

[2017-09-08 15:21] RobStallion commented on #193
@reddog I spent 25 minutes on this in the morning looking up the steps that I would need to take. What I mentioned in the comment above are all the steps that I think it will take to complete this issue. I am estimating that this issue as a whole will take 1.5 hours.

If while working on this I find that there are additional steps required I will add them.

[2017-09-08 15:23] reddog commented on #193
@RobStallion Thanks for that.  Are you comfortable with adding a cron job entry?

[2017-09-08 15:28] RobStallion commented on #191
Do you want instructions for how to add a super_admin in this readme? That is something that is specific to Oxleas only. Healthlocker for example does not even have super_admin as a role so it would not apply to HL.

[2017-09-08 15:29] reddog commented on #191
@RobStallion Yes please.  I guess the SLaM HL version of the readme would then be adjusted accordingly.

Outcome needs to be that someone can take this repo plus your document and create a working version of Oxleas that could then be used.

[2017-09-08 15:40] RobStallion commented on #191
@reddog adding a super user is probably best done with a function so I am going to have to create a function to add the super user which the reader can then call. This will take some time. I will create an issue for this and add a time estimate to it

[2017-09-08 15:46] RobStallion commented on #193
@reddog as I mentioned in [this comment](https://github.com/healthlocker/oxleas-adhd/issues/193#issuecomment-328059529) I will need to look into `cron to make this something that will happen automatically but I feel like it is something that I will be able to achieve.

[2017-09-08 15:48] RobStallion commented on #161
No that is just the smallest time stamp that was there. I completed this while I was writing the readme

[2017-09-08 15:48] #161 closed

[2017-09-08 15:50] reddog commented on #191
@RobStallion Can you write the steps you performed for now.  That's a great first version.

[2017-09-08 15:53] RobStallion commented on #191
I don't want to add the steps I performed as I had to manually add a password_hash to the database and I don't think putting that on github is very secure

[2017-09-08 15:55] reddog commented on #191
@RobStallion Understood, but you could put the steps to alter the database, and the steps to generate the password hash, without listing the password itself.  Would that be insecure?

[2017-09-08 15:56] katyedwards commented on #176
Done thanks!

[2017-09-08 15:56] #176 closed

[2017-09-08 15:56] katyedwards commented on #4
Great thanks!

[2017-09-08 15:56] #4 closed

[2017-09-08 15:58] katyedwards commented on #157
Fabulous!

[2017-09-08 15:58] #157 closed

[2017-09-08 16:00] RobStallion commented on #191
@reddog No but it may take as long as creating the function and will be more steps (probably a little more confusing as well) for the reader.

[2017-09-08 16:02] reddog commented on #191
@RobStallion I'm not sure I understand why it will take a long time to outline the steps to add the super user.  Could you explain a little further?

[2017-09-08 16:23] #114 closed

[2017-09-08 17:30] MollieCourtenay commented on #184
<img width="407" alt="screen shot 2017-09-08 at 18 29 22" src="https://user-images.githubusercontent.com/25012688/30223655-a9d5dc94-94c3-11e7-82fd-cb916e7745c0.png">

[2017-09-08 17:42] MollieCourtenay commented on #185
Thats correct.
We will keep Get support and add a similar page to the menu only for teachers.

[2017-09-10 09:57] RobStallion commented on #193
This issue has been completed. Thanks @reddog for your help with this 👍

[2017-09-10 10:02] RobStallion commented on #181
@reddog can this be closed?

[2017-09-10 21:28] #158 closed

[2017-09-11 09:20] reddog commented on #193
@RobStallion Thanks very much for doing this.  Can the steps required please be added to the deployment document at #191

[2017-09-11 09:23] reddog commented on #191
@RobStallion As discussed, can you please add:

- [ ] details to set up the database and fill with the initial super user, #187
- [ ] set up Let's Encrypt SSL certificate auto-renewal, #193

Is there anything else remaining or could this document then be followed to perform a fresh installation?

[2017-09-11 09:31] MollieCourtenay opened #212 "Edit posts rights for Super Admins"
+ [x] As a super admin, I have the permissions to Edit posts.

______________________
This is something we noticed on the weekend and not sure why this is not available? Whereas it is in Healthlocker.

Oxleas - the Edit link is missing.
<img width="757" alt="screen shot 2017-09-11 at 10 29 28" src="https://user-images.githubusercontent.com/25012688/30267968-1bbd5836-96dc-11e7-833c-0d986ab3040d.png

[2017-09-11 10:25] iteles commented on #191
@RobStallion I'm assuming this will require and extra hour or two, but will also remove that time from https://github.com/healthlocker/healthlocker/issues/1063 👍

[2017-09-11 10:40] MollieCourtenay opened #213 "flash messages edit - take to tracking Overview"
+ [ ] sleep
+ [ ] problem
+ [ ] diary

[2017-09-11 10:41] RobStallion commented on #193
@reddog Thanks again for your help with completing this issue.

The question in the comment above is better suited in issue #191. You have referenced this issue in #191 and asked for the documentation to be updated with the steps that we took resolved this issue.

This issue does not need to remain open in order for the documentation to be updated so I am going to re-close it for clarity.

[2017-09-11 10:41] #193 closed

[2017-09-11 10:42] MollieCourtenay commented on #139
+ [ ] microseconds is displaying for average.
+ [ ] for today input 0.0 hours sleep.
+ [ ] missing 'Sleep' as per screenshots above.

This has been fixed in healthlocker...

<img width="600" alt="screen shot 2017-09-11 at 11 40 21" src="https://user-images.githubusercontent.com/25012688/30270863-0f741c22-96e6-11e7-801f-509b7c4d973a.png">

[2017-09-11 10:43] MollieCourtenay commented on #153
+ [ ] microseconds is displaying for average.
+ [ ] microseconds for today input 0.0 hours sleep.

This has been fixed in healthlocker...

<img width="600" alt="screen shot 2017-09-11 at 11 40 21" src="https://user-images.githubusercontent.com/25012688/30270863-0f741c22-96e6-11e7-801f-509b7c4d973a.png">

[2017-09-11 10:45] iteles commented on #212
@RobStallion Could you please take a quick look and diagnose this?

[2017-09-11 10:51] iteles commented on #139
Apologies @MollieCourtenay, this had not yet been deployed!

[2017-09-11 10:55] iteles commented on #153
Apologies @MollieCourtenay, this had not yet been deployed! Ready to test again now.

[2017-09-11 10:55] iteles commented on #139
Ready to test again now @MollieCourtenay

[2017-09-11 10:55] RobStallion commented on #191
@reddog I think that those are all that is missing from the documentation as it stands but I will update the issue if anything else comes to mind.

@iteles I would estimate another hour for this to be completed.

[2017-09-11 10:59] #181 closed

[2017-09-11 11:03] MollieCourtenay commented on #139
great thanks!

[2017-09-11 11:03] #139 closed

[2017-09-11 11:03] MollieCourtenay commented on #153
👍

[2017-09-11 11:03] #153 closed

[2017-09-11 11:06] #141 closed

[2017-09-11 14:03] MollieCourtenay commented on #178
<img width="367" alt="screen shot 2017-09-11 at 15 02 16" src="https://user-images.githubusercontent.com/25012688/30278444-4621797e-9702-11e7-9ace-ac3d4d6cc101.png">
<img width="369" alt="screen shot 2017-09-11 at 15 02 03" src="https://user-images.githubusercontent.com/25012688/30278445-465bbe86-9702-11e7-8623-59bbc5b3e0aa.png">

[2017-09-11 14:04] MollieCourtenay commented on #179
<img width="369" alt="screen shot 2017-09-11 at 15 02 30" src="https://user-images.githubusercontent.com/25012688/30278542-81815dea-9702-11e7-82ea-13158a5e2521.png">

[2017-09-11 14:06] RobStallion commented on #125
@reddog I am closing this issue as the solution to the problem is now also listed in the documentation.

[2017-09-11 14:06] #125 closed

[2017-09-11 14:06] MollieCourtenay opened #214 "Staff (clinician) caseload: Displaying teachers"
NEEDS ESTIMATING. This may have been done within #180 ??
____
## Acceptance Criteria
+ [x]  as a Clinician, I see teachers listed on my caseload underneath a service user and carer.
+ [x] the teachers **First name Last name** _(Role, organisation)_
+ [x] as a clinician, I may see the same teacher listed multiple times if they are associated with multiple service users.
+ [x] the outline for teache

[2017-09-11 15:22] MollieCourtenay opened #216 "Story link on Oxleas should stay within Oxleas not go out to HL"
+ [ ] as a user if i click on #story, I should be directed to /posts on Oxleas not HL.

<img width="548" alt="screen shot 2017-09-11 at 13 24 27" src="https://user-images.githubusercontent.com/25012688/30282442-3e0a6542-970d-11e7-9d16-43d9db0cbf3b.png">
<img width="816" alt="screen shot 2017-09-11 at 13 24 19" src="https://user-images.githubusercontent.com/25012688/30282443-3e381104-970d-11e7-9584

[2017-09-11 16:06] reddog commented on #191
@RobStallion Thanks very much for the update.

Are there any references to provisioning the database?  See https://github.com/healthlocker/oxleas-adhd/issues/187#issuecomment-327825295

Have you had a quick re-read through it to ensure that all other items are included?

[2017-09-11 16:15] RobStallion commented on #191
@reddog Thanks for spotting that 👍. I'll add those now.

[2017-09-11 16:17] reddog commented on #191
There are no references to the various `config.exs` type files in:

- [ ] `/config/` https://github.com/healthlocker/oxleas-adhd/tree/master/config
- [ ] `/apps/healthlocker/config/` https://github.com/healthlocker/oxleas-adhd/tree/master/apps/healthlocker/config
- [ ] `/apps/oxleas_adhd/config/` https://github.com/healthlocker/oxleas-adhd/tree/master/apps/oxleas_adhd/config

Is there anything in

[2017-09-11 16:21] RobStallion commented on #191
No nothing in those would need to be updated.

[2017-09-11 16:26] reddog commented on #191
I haven't gone fully through the `.exs` config files but there are references to the database and AWS SES, for example.

[2017-09-11 16:27] MollieCourtenay commented on #212
this works thanks!

[2017-09-11 16:27] #212 closed

[2017-09-11 16:28] MollieCourtenay commented on #216
@RobStallion
This is an error in the content. I have edited now as an Admin and it is fine.

[2017-09-11 16:28] #216 closed

[2017-09-11 16:31] reddog commented on #191
In the `Add environment variables to Azure` section there is the following reference:

but there's no list of what those environment variables are (not what values they have, but what they're called).  It would be necessary to search through the source code to find all of the environment variables required.

Can they be listed?

[2017-09-11 16:40] RobStallion commented on #191
@reddog I can list them if you like. It should be safe enough to add the list needed without values.

[2017-09-11 16:44] reddog commented on #191
@RobStallion I think it's completely safe to list the names of the environment variables.  They can, after all and with a little leg work, be found in the code anyhow.

Are you able to also address the various `.exs` files - database name, AWS SES, anything else?

[2017-09-11 16:47] RobStallion commented on #191
The database name that will be used in production can be found in `apps/healthlocker/config/prod.exs` and the AWS SWS variables that are needed are some of the environment variables

[2017-09-11 16:49] reddog commented on #191
@RobStallion Thanks - can those details be added to the document?

Should there be a separate mention that an AWS SES account setup is required to be completed in advance?  Any requirements with that setup?

[2017-09-11 16:55] RobStallion commented on #191
@reddog I can list those.

I can mention that an AWS SES account is required (as I say at the top of the doc with the Azure environment and the repo) but I don't think anything about the setup for it should be in this documentation as it is just for SSL and depolyment

[2017-09-11 17:02] reddog commented on #191
@RobStallion Thanks for adding in the environment variables.

If there is anything particular about the AWS SES setup to get this app working then it should be listed.

This document is about taking the repo's code (this repo in particular) and a fresh machine and then ending up with a working app.  If there's anything required with third party sites, that should be listed.  Certainly (for now at

[2017-09-12 11:52] reddog commented on #191
@RobStallion Can you please update us on when the following will be added to the documentation:

- [ ] listing environment variables used
- [ ] AWS SES
- [ ] any other third party logins required

[2017-09-13 08:53] #208 closed

[2017-09-14 14:29] katbow opened #217 "Deployment documentation updates"
- [x] Change `mix local hex` to `mix local.hex`
https://github.com/healthlocker/healthlocker/issues/1067#issuecomment-329438193

- [x] Add instructions for accessing server with `ssh root@"server ip address"`

- [x] Separate commands for Certbot installation
https://github.com/healthlocker/healthlocker/issues/1067#issuecomment-329438967

- [x] Add additional dependencies
https://github.com/healthl

[2017-09-14 15:19] iteles commented on #191
Closed as per https://github.com/healthlocker/oxleas-adhd/pull/210#issuecomment-329429701 👍
<img width="657" alt="screen shot 2017-09-14 at 16 19 00" src="https://user-images.githubusercontent.com/4185328/30438168-78da19bc-9968-11e7-9740-1cecd5113947.png">

[2017-09-14 15:19] #191 closed

[2017-09-18 10:33] MollieCourtenay opened #219 "diary time"

[2017-09-20 15:10] katbow commented on #189
Note for this: permissions will need to be updated for who can access to view medication, as right now it is set so that only the user the medication is for can access it.

[2017-09-20 15:10] katbow commented on #189
@MollieCourtenay I love the example name in the screenshot

[2017-09-20 15:15] katbow commented on #194
estimate is made with the assumption of it applying to all users.

[2017-09-21 10:17] katyedwards opened #220 "Data Export"
Oxleas are interested in thinking about how they could export data from the site, either in the case they wanted to close it down or (more likely) as users leave the service.

They want to discuss this with SLaM and maybe work on/ fund something together.

Can you provide high level initial ideas on how this might work and a rough time estimate (range) to inform their discussions.

Thank you!

[2017-09-21 14:27] katyedwards opened #221 "Teachers - Structured Form"
### Feature Aim:

A structured form where teachers can enter info which is shared.

- It's  more about structured information than messaging or diary entries.
- It mimics a paper questionnaire they currently use
- The end game involves interoperability with Rio. A structured teachers report form on headscape allows us to easily port that information to the right place in Rio in due course.

## Acc

[2017-09-25 09:20] MollieCourtenay opened #222 "First time log in - accept Terms and privacy"

[2017-09-25 09:26] MollieCourtenay commented on #184
(New icon needed - different coloured icon for tracking overview when a diary entry has been saved by a teacher or clinician)

[2017-09-25 10:32] katyedwards opened #223 "Nice branded error pages"
Error pages/ Page not found screens with the HeadScape Focus logo on etc.

[2017-09-25 15:19] katyedwards opened #224 "Change Error Pages"
Oxleas Pen Testing highlighted that the error pages give away too much info.

Implement same fix/ change as for HL:
https://github.com/healthlocker/healthlocker/issues/1064

[2017-09-26 09:33] iteles commented on #221
@katyedwards When you say 'view & edit form', is it safe to assume that you're discussing the editing of the _content_ of the form, rather than the form itself (i.e. which fields a form displays)?

[2017-09-26 09:35] iteles commented on #220
@katbow I think the range here will be from a 'simple' CSV export (we would need to think through how to structure all of the historical data points) of the data to an API.

@katyedwards Usually data exports are not very 'people friendly' in that they are a data dump that you really have to wade through the understand, but with good documentation, can be pulled into other comparable services for e

[2017-09-26 09:39] reddog commented on #138
Completed with documentation detailed in https://github.com/healthlocker/oxleas-adhd/issues/191

[2017-09-26 09:39] #138 closed

[2017-09-26 09:40] reddog commented on #108
This has been deployed now.

[2017-09-26 09:40] #108 closed

[2017-09-26 09:43] katyedwards commented on #221
@iteles yes just the content

[2017-09-26 09:44] katyedwards commented on #220
@iteles yep that's fine, the intended use as far as I am aware is for the care team so they keep a record in their patient system not for the end user.

[2017-09-26 10:16] katbow commented on #221
@katyedwards what is Rio? Is there any information I need to know about it in order to know how exactly this form is structured? Is it like a report card? I tried to look it up but I just get things about teachers in Rio de Janeiro hah.

For the archiving functionality, I am guessing there would still need to be editing/some way to build on top of another submitted form? My initial thought is to s

[2017-09-26 10:24] katyedwards commented on #221
@katbow Rio is the trust's version of ePJS.  Don't worry about how it should be structured - the two systems communicating is a long way in the future.  It'll be a fairly simple form and Oxleas will have to give us the correct names of the boxes if they want to transfer data in the long run.

For archiving - would it be a big job to allow an edit button on the one most recent entry or click to add

[2017-09-26 12:03] katbow commented on #224
@katyedwards this is done now and I will redeploy after I finish deploying HL staging. I'll deploy to test first, and after you sign off I'll deploy to live.

[2017-09-26 12:05] katyedwards commented on #224
Fab, cheers me dear!

[2017-09-26 12:11] katbow commented on #224
Deployed now! Here's an easy url to test for a non existent story

https://test-focus.headscapegreenwich.co.uk/posts/-1

[2017-09-26 12:12] katyedwards commented on #224
Looking good!  Ready to deploy to live!

[2017-09-26 12:12] #224 closed

[2017-09-26 12:21] katbow commented on #224
Deployed to live now too and works in the same way https://focus.headscapegreenwich.co.uk/posts/-1

[2017-09-26 13:39] katbow commented on #220
@katyedwards I'm going to do a quick spike for this before I estimate. Should be about 1 hour following [this](https://medium.com/@SergeyChechaev/elixir-phoenix-everyday-tips-create-xlsx-66cd70268eb4).

[2017-09-26 13:45] katbow commented on #220
actually, might not follow that guide -> checking out the differences between 2 packages. [elixlsx](https://github.com/xou/elixlsx) vs [csv](https://github.com/beatrichartz/csv)

[2017-09-26 13:53] katbow commented on #221
They could have both yes, but with an edit it overwrites the previous data. So we will need to archive the information in a different way with edits.

[2017-09-26 13:55] katyedwards commented on #220
@katbow we don't need a v precise estimate - this is more an initial high level quote so Oxleas have some info to decide what they want to include.

I'd rather you didn't spend an hour on it at this stage as it may not end up in the sprint at all.

Can you give a rough guide, e.g. 1-2 days or 2-4 hours?

[2017-09-26 13:57] katyedwards commented on #221
@katbow as with #220 we just need a high level estimate at this stage.

We're assuming that it'll be c 4 days to do a new form as that was the estimate for About me.

Do you think the archiving will probably double that?  Or do you think it's likely to be more/less?

This is just so they can think about what they want to include in the next phase.

[2017-09-26 14:01] katbow commented on #220
@katyedwards okay, in that case, from looking at [this guide](https://medium.com/@SergeyChechaev/elixir-phoenix-everyday-tips-create-xlsx-66cd70268eb4) which uses [this library](https://github.com/xou/elixlsx), and also [this guide](http://matthewlehner.net/exporting-csvs-with-phoenix-elixir/) which uses the [csv llibrary](https://github.com/beatrichartz/csv), I think either one will be about 1 da

[2017-09-26 14:13] katbow commented on #221
Create form (new) T2h
Save form (create) T2h
Edit form (edit) T2h
Save edited form (update) T2h
Styling throughout -T4h

Archiving I would put as 1-2 days extra on top of it.

So total without archiving is 1.5 days & with archiving is 3.5 days (all paired estimates!)

[2017-10-16 09:48] #217 closed

[2017-10-20 08:36] katyedwards opened #226 "Restrict repeat access to set up new tracker page"
Apply same fix/ functionality as Healthlocker Issue:
healthlocker/healthlocker#1109

[2017-10-20 09:01] katyedwards opened #227 "Add Send Button on Messaging"
Add a send button to the messaging.
Under the text box, aligned to the right

[2017-10-20 11:02] katyedwards commented on #227
Time estimate based on https://github.com/healthlocker/healthlocker/issues/904 but hopefully might be less as the only requirement from the client is to add a send button

[2017-10-20 11:03] katyedwards commented on #226
Based on time estimate given for Healthlocker

[2017-10-20 13:47] katyedwards opened #228 "Clinician Dashboard - see alert/ notification for new messages"
On the Clinician Dashboard view, if I receive a new message from a service user, carer or teacher, I will see a red dot on their entry

Something much much much prettier than this:
![screenshot 2017-10-20 14 44 06](https://user-images.githubusercontent.com/24604903/31823878-700f742c-b5a5-11e7-9ff1-209d82c7c87e.png)

- As soon as the message has been viewed by anyone on the care team, the alert/ no

[2017-10-24 09:40] katbow commented on #228
I need to do a brief look about for this before estimating. Wanted to let you know so you know the estimate is in progress!

[2017-10-24 10:33] katbow commented on #228
General overview:

Need to include if a room `has_unread` messages as part of a table (probably `rooms`). This can either be a boolean (true/false) value for now. I think it will be that when a new message is added by any of service user, carer or teacher, then `has_unread` will update to `true`. When a clinician joins a room, then `has_unread` will go back to `false`.

For each room in the clinic

[2017-10-24 10:36] katbow commented on #228
Also P.S. for myself, [this repo](https://github.com/smpallen99/ucx_chat) seems very useful!

Some relevant code:
* https://github.com/smpallen99/ucx_chat/blob/cc910e0c2a784cdd0e4004f75084ffd0a881a648/web/views/side_nav_view.ex

* https://github.com/smpallen99/ucx_chat/blob/cc910e0c2a784cdd0e4004f75084ffd0a881a648/web/channels/router.ex

* https://github.com/smpallen99/ucx_chat/blob/cc910e0c2a784c

[2017-11-01 11:12] katyedwards opened #229 "Copy Additions to Get Support Page"
- [x] **Greenlights** - They have has secured funding for a further 5 years. They offer up to 12 sessions of in-house behavioural support to families of children with disabilities, including ADHD. We can refer or families can self refer. Pete and Toni are due to do a one off talk to parents on "Top 10 tips for managing ADHD". Pete will send me the details. They no longer run the ADHD support group

[2017-11-01 11:13] katyedwards opened #230 "Messaging Copy Change"
Where it says “write a message to your care team” can we add “press enter to send your message”. (In the absence of a send button it’s not clear how to send).

[2017-11-01 11:19] katyedwards opened #231 "Problem Tracker - Change tracking description"
**Problem tracker**

- [ ] Could we change the drop down options to:
0-very little progress
10- significant progress
(currently very little effect and major effect)

- [ ] Could we add some text to say that they can only track one problem and this should be rated 0-10, with 0 being very little progress and 10 being significant progress and that the problem should focus on what they are working tow

[2017-11-01 11:20] katyedwards opened #232 "Medications Page Bug"
The medication page appears to have a bug as we are not able to update the page for new users. It kept throwing us out.

Info from Client:

Steps taken:
Click on Log In ->
Enter login/password details [Bones] ->
Click “Log In”

Click on “Caseload” ->
Click on a Service Users name ->
Click on “Details and Meds” ->
Click on “Medication” ->
Complete all fields -> Click “Save”

This results in Error 4

[2017-11-06 11:05] katyedwards opened #233 "Mailto: Link not working on Privacy Statement"
Clicking on the email address link gives an internal server error page.

![screenshot 2017-11-06 11 04 24](https://user-images.githubusercontent.com/24604903/32438419-4ac36058-c2e2-11e7-80a3-1c5dca0a621c.png)

On both test and live sites
https://test-focus.headscapegreenwich.co.uk/pages/privacy
https://focus.headscapegreenwich.co.uk/pages/privacy

[2017-11-06 11:07] katyedwards opened #234 "Repeated sentence on About Page to be removed"
Remove one line of:
Healthlocker is built using agile development processes which enable iteration through user-centred build, test and learn cycles.

![screenshot 2017-11-06 11 06 10](https://user-images.githubusercontent.com/24604903/32438474-82a95c0c-c2e2-11e7-9a66-de1963d284f0.png)

On both test and live sites:
https://test-focus.headscapegreenwich.co.uk/pages/about
https://focus.headscapegree

[2017-11-09 12:17] iteles opened #235 "Compliance with GDPR"
With GDPR coming into effect on 25 May 2018, this data processing standard should be reviewed by Oxleas to determine if anything is required for the application.

Aside from a number of new points for consideration with applications (dwyl has [written up a summary of these](https://github.com/dwyl/learn-security#gdpr), there are some new specific clauses with regards to children's data: see 'Child

[2017-11-27 14:47] katyedwards commented on #194
Confirmation from Oxleas - will be 15mins and will apply to all users.

[2017-12-12 15:42] katyedwards opened #236 "Duplicated Day on Tracking Overview"
See Healthlocker issue:
https://github.com/healthlocker/healthlocker/issues/1110

Same fix to be applied to Oxleas

[2017-12-12 15:45] katyedwards opened #237 "Restrict Repeat access to new problem tracker page"
Apply same fix/ functionality as Healthlocker Issue:
https://github.com/healthlocker/healthlocker/issues/1109

[2017-12-12 15:48] katyedwards opened #238 "Remove cross-site scripting ability"
As per Healthlocker issue:
https://github.com/healthlocker/healthlocker/issues/1074

BUT, allow basic formatting as per HL issues:
https://github.com/healthlocker/healthlocker/issues/1123
https://github.com/healthlocker/healthlocker/issues/1116
https://github.com/healthlocker/healthlocker/issues/1131 (if applicable)
https://github.com/healthlocker/healthlocker/issues/1138

[2017-12-12 15:49] katyedwards opened #239 "Incorrect timestamp on diary entries"
Fix as per Healthlocker issue:
https://github.com/healthlocker/healthlocker/issues/1071

[2017-12-12 15:51] katyedwards commented on #237
Duplicated issue #226

[2017-12-12 15:51] #237 closed

[2017-12-12 15:57] katyedwards opened #240 "Change forgot password flash message if email address is not in system"
Changes as per Healthlocker Issue:
https://github.com/healthlocker/healthlocker/issues/1073

[2017-12-13 15:44] RobStallion commented on #232
Hey @katyedwards. When you tried to replicate this issue did you use the same log in details the client used?

If not would you be able to get us the log in details used so that we can try to check if this may be something specific to that user?

[2017-12-13 15:54] katyedwards commented on #232
Yes I tried with the same users they mentioned and it didn't duplicate - and apparently it has occurred with others since.  I'll get login details for you.

[2017-12-14 11:40] katyedwards commented on #232
@RobStallion it looks like one or more of these users *isn't* showing the correct user ID on this page, but is showing number *6* instead - which we assume is the clinician ID (bones@headscape.com).

[2017-12-14 12:50] katyedwards commented on #232
@RobStallion @reddog has found the issue!

[2017-12-14 15:07] reddog commented on #232
Sample AppSignal error log at https://appsignal.com/mindwave-ventures-limited/sites/5a31d28dfc940e291200369d/incidents/6/samples/5a3267f8cbf15e47c96827bb

[code]

In this instance, user ID `6` is the user ID of the logged in clinician, not the service user being viewed.

[2017-12-14 15:13] reddog commented on #232
AppSignal *Environment* section shows:

[code]

Hence the incorrect (clinician's) user ID is already in use *before* getting to the `caseload/users/6` page where the error is generated.

[2017-12-14 15:17] reddog commented on #232
There are two links from the clinician's view of the service user on the **Details and Meds** tab:

1.  the pill bottle
2.  the *Medication* button.

![image 1](https://user-images.githubusercontent.com/151362/33999255-e5af2094-e0e1-11e7-8ccf-5beab3f2c6eb.png)

In the case where the service user **does not** have any medications stored, then the link for the *Medication* button is incorrect, see i

[2017-12-14 16:54] reddog commented on #164
Confirmation that sites are going to go down has been discussed.  Closing old issue.

[2017-12-14 16:54] #164 closed

[2017-12-14 16:56] reddog commented on #126
Closing as https://github.com/healthlocker/oxleas-adhd/issues/191 kicked off getting documentation created which is is available and is being added to at https://github.com/healthlocker/oxleas-adhd/blob/master/deployment_and_ssl_doc.md

[2017-12-14 16:56] #126 closed

[2017-12-14 17:18] #232 closed

[2017-12-18 11:28] katyedwards commented on #219
I think this is a duplicate of #239

[2017-12-18 11:28] #219 closed

[2017-12-18 11:29] katyedwards commented on #202
Was just a placeholder to remember to allow time!

[2017-12-18 11:29] #202 closed

[2017-12-18 11:29] katyedwards commented on #203
Was a placeholder to remember to allow time!

[2017-12-18 11:29] #203 closed

[2017-12-21 14:50] katyedwards opened #245 "Copy Change to Consent"
Details to be provided by client

[2017-12-21 14:51] katyedwards opened #246 "Display Consent from Account in Clin Details & Meds"
Display the SU consent choices on the Clinician view 'Details & Meds' tab

Details to follow

[2017-12-22 14:58] iteles commented on #40
@katyedwards @MollieCourtenay Has the design for this been finalised? We're assuming it's going to look a lot like the top comment and you can provide the icons.

[2017-12-22 15:01] iteles commented on #17
@katyedwards Adding 2 hours to this issue to deal with concurrent updating as outlined by @RobStallion above.

[2017-12-22 15:04] iteles commented on #179
Note @katyedwards: This second task is pushing up the time estimate here to a day.

[2017-12-22 15:09] iteles commented on #180
Pulling the estimate down here a little to deal with just caseload, moving the messaging portion of this to #183 exclusively.

[2017-12-22 15:10] iteles commented on #183
This comment of @katbow's is relevant here:
https://github.com/healthlocker/oxleas-adhd/issues/180#issuecomment-327503566
<img width="712" alt="screen shot 2017-12-22 at 15 09 40" src="https://user-images.githubusercontent.com/4185328/34302766-3f183636-e72a-11e7-853b-357756cf615c.png">

Upping the estimate to deal with this comment.

[2017-12-22 15:23] iteles commented on #182
Our assumption here is that in terms of UI, the teacher view will be the same as the clinician view (with adequate permissions) so no new pages will need to be created.

Our second assumption is that carers are not included in this issue.

[2017-12-22 15:30] iteles commented on #188
@katyedwards This epic is in Sprint 3, but the final checkbox issues (#189 and #205) are both in the backlog - is this correct?

[2017-12-22 15:31] iteles commented on #214
@MollieCourtenay This has been correctly split out from #180 👍 Thanks!

[2017-12-22 15:43] iteles commented on #227
## Tasks
+ [ ] Add send button as above
+ [ ] Hook up send button to actually 'send'
+ [ ] Disable sending on 'enter' key press

[2017-12-22 16:02] iteles commented on #246
@katyedwards We're not sure what the SU consent choices are!

[2017-12-28 12:00] katyedwards commented on #246
Sorry!

So there's a couple of things...
In #245 we need to add text so that the users' consent tickbox on the consent tab in account is to agree to the terms of service and privacy statement as well as sharing their data for research because they don't go through the sign up process and consent as HL users do.

Right now the team are having to onboard people in clinic so they can sign a paper con

[2017-12-28 12:02] katyedwards commented on #188
Yep for now that is right - they just want to get something in there for teachers and the structured form offers most flexibility.

[2017-12-28 12:04] katyedwards commented on #182
@iteles yep - both assumptions correct

[2018-01-04 10:00] katyedwards commented on #221
Just to confirm at this stage we are proceeding with the option **without** archiving

[2018-01-08 09:35] katyedwards opened #247 "Remove Account from Database"
Ask @katyedwards for details!

[2018-01-11 09:42] #247 closed

[2018-01-11 09:43] katyedwards commented on #247
Done during HL support day

[2018-01-15 10:40] Cleop commented on #30
Mobile designs: see medication page for mobile design example and copy this as a guide.

[2018-01-15 11:44] Cleop opened #248 "Consider future scalability of chatrooms"
With a growing number of chatrooms we need to think about the future scalability of them as well as the possibility of joint rooms in the future.

This thinking can at the moment be merely estimating how long a spike or similar would be needed to do some research on options.

[2018-01-15 13:02] katyedwards opened #249 "2 x Diary Bugs"
Apply fix as per:

- [x] https://github.com/healthlocker/healthlocker/issues/1146
- [x] https://github.com/healthlocker/healthlocker/issues/1150

[2018-01-15 14:42] RobStallion commented on #30
Was getting the following error when trying running the command `mix deps.get`

[code]

Was able to resolve this by changing wifi networks. Not exactly sure what the problem was

[2018-01-15 15:19] RobStallion commented on #30
Currently trying to generate a migration file with the command `mix_ecto.gen.migration create_about_me` but when I do I am getting the following error...
[code]

Currently looking into error.

[2018-01-15 15:51] RobStallion opened #250 "Error when running mix deps.get"
Was getting the following error when trying running the command `mix deps.get`

[code]

Was able to resolve this by changing wifi networks. Not exactly sure what the problem was

[2018-01-15 15:52] RobStallion commented on #250
Was able to resolve this by changing wifi networks. Not exactly sure what the problem was

[2018-01-15 15:52] #250 closed

[2018-01-15 15:53] RobStallion opened #251 "Error when starting app"
Was getting the following error when trying to run the application

[code]

[2018-01-15 15:53] RobStallion commented on #251
Was able to resolve by following the steps found [here](https://github.com/karma-runner/karma-phantomjs-launcher/issues/209#issuecomment-348171704)

[2018-01-15 15:53] #251 closed

[2018-01-15 15:54] SimonLab opened #252 "Error running tests"
![image](https://user-images.githubusercontent.com/6057298/34950796-1559a1f0-fa0c-11e7-8f16-8002de2f5ac5.png)
It looks like the access to the database is blocked by a process (a specific test maybe?) and the other tests are not able to run or finish.

I'm going to create a  new PR to see if Travis has the same issues. If not it might be a configuration problem on my machine.

[2018-01-15 16:11] katyedwards commented on #214
Border Colour for Teachers is #7f88cd please

[2018-01-15 16:19] SimonLab commented on #252
Travis is happy which means that it might be an issue with my local config or my database:

![image](https://user-images.githubusercontent.com/6057298/34951826-703f0e04-fa0f-11e7-86ac-394cbe97efc1.png)

We can also clean some unecessary test and some warning:
https://github.com/healthlocker/oxleas-adhd/blob/15942c7deddbcfcabb38165fc16b7ae4cb3fe49d/apps/oxleas_adhd/test/oxleas_adhd_test.exs#L6

```

[2018-01-15 16:23] katyedwards commented on #227
For the send button asset... it should look like the various save buttons but with the text 'Send'
e.g.
![screenshot 2018-01-15 16 21 05](https://user-images.githubusercontent.com/24604903/34952056-47061144-fa10-11e7-9740-52968ddcffe3.png)

Do you need an asset provided for this or can you use the existing bits?

[2018-01-15 16:53] RobStallion commented on #30
Have not been able to get this command to work despite the error giving me a good starting place to look. Did not want to spend too much time trying to debug it so I have manually added the migration file and it has created the table in the DB as expected.

[2018-01-15 16:59] SimonLab commented on #252
The application run some tests with Wallaby (https://hex.pm/packages/wallaby) which simulate the usre interaction on the browser. Wallaby is using PhantomJS and needs to be install on your machine first.
I think my tests are blocked because PhantomJS is not installed.
I need to run ```npm install phantomjs -g``` but I have a few issues first to fix with npm on my machine (bin/executables are not i

[2018-01-15 22:39] SimonLab commented on #252
After installing `phantomjs` as a global package I manage to run all the tests:
![image](https://user-images.githubusercontent.com/6057298/34964311-e0871ec4-fa44-11e7-8ad4-047a8f3509e2.png)

[2018-01-16 10:25] reddog commented on #252
@SimonLab Looks like you're having some issues which are may be due to differences in developer machine set up, or as a result of a lack of consistent (Vagrant or other) independent configuration?

Thanks for documenting the steps you're having to take.  If you're having to add in `phantomjs` should that be added to the `package.json` file? https://github.com/healthlocker/oxleas-adhd/blob/master/p

[2018-01-16 10:39] SimonLab commented on #252
thanks for the Vagrant config @reddog .
I don't think the pakcage.json can install npm package globally when running ```npm install```
At the end the issues was more linked to my npm which wasn't configure properly on my machine but I will also add a link to the Healthlocker documentation on the Oxleas Readme which explain that PhantomJS needs to be installed first to be able to run the tests

[2018-01-16 10:44] SimonLab opened #254 "Error running seeds"
error while trying to run the seeds to populate the database with ```mix run apps/healthlocker/priv/repo/seeds.exs```:

![image](https://user-images.githubusercontent.com/6057298/34984821-0c480cfc-faaa-11e7-948a-f216d5b3373d.png)

Once I can run the seeds, we can add a super-admin instead of adding it manually

[2018-01-16 10:47] reddog commented on #252
@SimonLab Okay, thanks for that.

If the issues are due to particular set up issues on your machine, would a Vagrant configuration fix this (for you and any/all other developers)?

Having a dependency left out of the set up scripts because it doesn't work on a particular developer's machine (and then relying on developers having fully read the documentation before starting) could lead to other pro

[2018-01-16 10:53] Cleop opened #255 "Review and update vagrant file"
Review and update vagrant file - see #241 #252 for details

[2018-01-16 10:54] reddog commented on #254
@SimonLab Thanks for raising this issue.

Just wanted to check - is:

a *requirement* at this stage?

Would an alternative (just for the purposes of addressing the issues in this piece of work, not addressing this particular issue at all), be to take a test database from another developer who already has one up and running?

[2018-01-16 11:01] reddog commented on #252
@Cleop Thanks for opening the Vagrant issue.

Since @SimonLab's `phantomjs` issue doesn't seem to be down to the set up scripts (as you've said it is installed automatically by `wallaby`), then maybe the Vagrant set up would fix this type of issue.

Would be useful to give some sort of quantification of time that would be saved in implementing a Vagrant configuration?  That would give the project

[2018-01-16 12:09] RobStallion commented on #40
@katyedwards The styling has been started for this issue but we are still awaiting the icons. Can you provide them when you have the time? Thanks

[2018-01-16 12:19] katyedwards commented on #40
Hi @RobStallion you already have the icons for this - they were put in last time but currently just go to a 'coming soon' page.  It's the icon for the structured teachers form which is new.

Let me know if you have any problems, but I think it should just need connecting up to the existing icon.

[2018-01-16 12:21] katyedwards commented on #221
Icon here:
![toolkit_teacherform](https://user-images.githubusercontent.com/24604903/34988770-cee76098-fab7-11e7-8377-450d380a18b3.png)

Let me know if you have any problems with it.

[2018-01-16 12:23] katyedwards commented on #180
Design decision from Sarah - teacher's caseload colours will remain the same as the clinician caseload so that SUs are consistently blue throughout the site and clinicians are consistently yellow etc.

Might be _slightly_ confusing for demo purposes as the two dashboards will look similar, but in terms of actual use and consistency it is better like this.

[2018-01-16 12:28] RobStallion commented on #40
Hey @katyedwards. Thanks for replying so quickly. I think that we might have got our wires crossed here though 😄.

I meant the icons at the side of each input box as shown in the above image...
![image](https://user-images.githubusercontent.com/15571853/34988913-5ae22060-fab8-11e7-8e27-0d121db520fd.png)

Sorry If I have misunderstood what you meant.

I have noticed that they are not in all of the

[2018-01-16 12:35] katyedwards commented on #40
Ahhh sorry - am with you now - I hadn't read the previous messages

Hang on a sec...

[2018-01-16 12:36] katyedwards commented on #40
My Early Life
![icons-oxleas_early life](https://user-images.githubusercontent.com/24604903/34989288-ebaf4766-fab9-11e7-8e27-fabc7f9dcffc.png)

[2018-01-16 12:37] katyedwards commented on #40
My Life Events
![icons-oxleas_life events](https://user-images.githubusercontent.com/24604903/34989309-fd673f54-fab9-11e7-9d9e-2b1642f2f9ea.png)

[2018-01-16 12:37] katyedwards commented on #40
My Hobbies
![icons-oxleas_hobbies](https://user-images.githubusercontent.com/24604903/34989328-09885eda-faba-11e7-91da-0a34a8bc73e8.png)

[2018-01-16 12:37] katyedwards commented on #40
My School
![icons-oxleas_school](https://user-images.githubusercontent.com/24604903/34989335-1173ac30-faba-11e7-9bbe-98a2ae9f17a4.png)

[2018-01-16 12:38] katyedwards commented on #40
Important People in my Life
![icons-oxleas_important people](https://user-images.githubusercontent.com/24604903/34989344-1b474bb8-faba-11e7-8f64-e031208a7821.png)